{% load itrans_tags %}

<div class="row align-center">
  <h2  class="col-md-12 col-sm-12 col-xs-12">
    Organizador de viajes por la ruta {{ route.route_full_name }} ({{ route.code_full }})
  </h2>
</div>
<div class="row bottom_margin_10">
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6">
    <span class="">
      <button class="btn btn-big routes_cancel">
        <a href="{% url 'company_routes_organizer' company.id %}">
          Volver
        </a>
      </button>
    </span>
  </div>
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6 ">
    <a href="{% url 'route_trip_create' route.id %}">
      <i class="far fa-plus-square fa-2x"></i>
      <span>
         Crear viaje nuevo
      </span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <table class="trips">
      <tr>
       <th>Viaje</th>
       <th>Code</th>
       <th>Salida</th>
       <th>Detalles</th>
       <th>Paradas</th>
      </tr>
      {% for trip in trips %}
        <tr>
          <td>{{ trip.name_full }}</td>
          <td class="right">{{ trip.code_from_service }}</td>
          <td class="right">{{ trip.start_time }}</td>
          <td class="company_to_edit">
            <a href="{% url 'route_trip_update' trip.id %}">
              <i class="fas fa-edit"></i>
            </a>
          </td>
          <td class="schedule_to_edit">
            <a href="{% url 'trip_stops_organizer' trip.id %}">
              <i class="far fa-sticky-note"></i>
              <span>&nbsp;{% get_unique_children_count_tag stops 'trip' trip.id %}</span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="row top_margin_10">
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6 ">
    <span class="">
      <button class="btn btn-big routes_cancel">
        <a href="{% url 'company_routes_organizer' company.id %}">
          Volver
        </a>
      </button>
    </span>
  </div>
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6 ">
    <a href="{% url 'route_trip_create' route.id %}">
      <i class="far fa-plus-square fa-2x"></i>
      <span>
         Crear viaje nuevo
      </span>
    </a>
  </div>
</div>
