<div class="row align-center">
  <h2  class="col-md-12 col-sm-12 col-xs-12">
    Organizador de PARADAS por el viaje "{{ trip.name_full }} ({{ trip.code_from_service }})"
  </h2>
</div>
<div class="row bottom_margin_10">
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6">
    <span class="">
      <button class="btn btn-big routes_cancel">
        <a href="{% url 'route_trips_organizer' route.id %}">
          Volver
        </a>
      </button>
    </span>
  </div>
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6 ">
    <a href="{% url 'trip_stop_create' trip.id %}">
      <i class="far fa-plus-square fa-2x"></i>
      <span>
         Crear parada nueva
      </span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <table class="trips">
      <tr>
        <th>Estación</th>
        <th>#</th>
        <th>Tipo</th>
        <th>Entrada</th>
        <th>Salida</th>
        <th>Detalles</th>
      </tr>
      {% for stop in stops %}
        <tr>
          <td><strong>{{ stop.station.name }}</strong></td>
          <td class="right">{{ stop.serial_in_route }}</td>
          <td class="right">{{ stop.stoptype }}</td>
          <td class="right">
            {% if stop.arrival %}
              {{ stop.arrival }}
            {% endif %}
            </td>
          <td class="right">
            {% if stop.departure %}
              {{ stop.departure }}
            {% endif %}
          </td>
          <td class="company_to_edit">
            <a href="{% url 'trip_stop_update' stop.id %}">
              <i class="fas fa-edit"></i>
            </a>
          </td>
{#          <td class="schedule_to_edit">#}
{#            <a href="{% url 'trip_stops_organizer' stop.id %}">#}
{#              <i class="far fa-sticky-note"></i>#}
{#            </a>#}
{#          </td>#}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="row top_margin_10">
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6 ">
    <span class="">
      <button class="btn btn-big routes_cancel">
        <a href="{% url 'route_trips_organizer' route.id %}">
          Volver
        </a>
      </button>
    </span>
  </div>
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6 ">
    <a href="{% url 'trip_stop_create' trip.id %}">
      <i class="far fa-plus-square fa-2x"></i>
      <span>
         Crear parada nueva
      </span>
    </a>
  </div>
</div>
