<div class="row align-center">
  <h2  class="col-md-12 col-sm-12 col-xs-12">
    {% if stop.id %}
      Editor de parada {{ stop.station.name }}/id={{ stop.id }}</h2>
    {% else %}
      Creación de parada nueva
    {% endif %}
</div>

<form id="update_company" action="." method="POST" enctype="multipart/form-data">
  {% csrf_token %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <span class="float-md-left">
      <button class="btn btn-big update_cancel">
        <a href="{% url 'trip_stops_organizer' trip.id %}">
          Cancelar
        </a>
      </button>
    </span>
    <span>
      <button type="submit" id="" onClick="tryCheck()" class="btn btn-success"><span>Guardar</span></button>
    </span>
    <span class="float-md-right update_delete">
      {% if stop.id %}
        <button class="btn btn-warning">
          <a href="{% url 'stop_delete' stop.id %}"
               onclick="return confirm('Realmente quiere eliminar los registros de parada {{ stop.station }} (en {{ trip.code_from_service }}) de base de datos?')">
            Elininar los registros de parada {{ stop.station }}
          </a>
        </button>
      {% endif %}
    </span>
  </div>
</div>
<br>

{#                        <div class="form-group">#}
{#                            <label class="plchldr">{{ form.company.label }}</label>#}
{#                            {{ form.company }}#}
{#                        </div>#}
                        <div class="form-group">
                            <label class="plchldr">{{ form.route_full_name.label }}</label>
                            {{ form.route_full_name }}
                        </div>

                        <div class="form-group">
                            <label class="plchldr">Created</label>
                            {{ route.created_at }}
                        </div>
                        <div class="form-group">
                            <label class="plchldr">Updated</label>
                            {{ route.updated_at }}
                        </div>



  {{ form.as_p }}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <span class="float-md-left">
      <button class="btn btn-big update_cancel">
        <a href="{% url 'trip_stops_organizer' trip.id %}">
          Cancelar
        </a>
      </button>
    </span>
    <span>
      <button type="submit" id="" onClick="tryCheck()" class="btn btn-success"><span>Guardar</span></button>
    </span>
    <span class="float-md-right update_delete">
      {% if stop.id %}
        <button class="btn btn-warning">
          <a href="{% url 'stop_delete' stop.id %}"
               onclick="return confirm('Realmente quiere eliminar los registros de parada {{ stop.station }} (en {{ trip.code_from_service }}) de base de datos?')">
            Elininar los registros de parada {{ stop.station }}
          </a>
        </button>
      {% endif %}
    </span>
  </div>
</div>

</form>
