<div class="row align-center">
  <h2  class="col-md-12 col-sm-12 col-xs-12">
    {% if company.id %}
      Redacción de Información sobre Cooperativa
    {% else %}
      Creación de cooperativa nueva
    {% endif %}
  </h2>
</div>

<form id="update_company" action="." method="POST" enctype="multipart/form-data">
  {% csrf_token %}

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <span class="float-md-left">
      <button class="btn btn-big update_cancel">
        <a href="{% url 'organizer'%}">
          Cancelar
        </a>
      </button>
    </span>
    <span>
      <button type="submit" id="" onClick="tryCheck()" class="btn btn-success"><span>Guardar</span></button>
    </span>
    <span class="float-md-right update_delete">
      {% if company.id %}
        <button class="btn btn-warning">
          <a href="{% url 'company_delete' company.id %}"
               onclick="return confirm('Realmente quiere eliminar los registros de {{ company.name }} de base de datos?')">
            Elininar los registros de {{ company.name }}
          </a>
        </button>
      {% endif %}
    </span>
  </div>
</div>
<br>

  {{ form.as_p }}
  <span class="float-md-left">
    <button class="btn btn-big update_cancel">
      <a href="{% url 'organizer'%}">
        Cancelar
      </a>
    </button>
  </span>
  <span>
    <button type="submit" id="" onClick="tryCheck()" class="btn btn-success"><span>Guardar</span></button>
  </span>
  <span class="float-md-right update_delete">
    {% if company.id %}
      <button class="btn btn-warning">
        <a href="{% url 'company_delete' company.id %}"
             onclick="return confirm('Realmente quiere eliminar los registros de {{ company.name }} de base de datos?')">
          Elininar los registros de {{ company.name }}
        </a>
      </button>
    {% endif %}
  </span>

</form>
