{% load itrans_tags %}

<div class="row align-center">
  <h2  class="col-md-12 col-sm-12 col-xs-12">Organizador de rutas</h2>
</div>
<div class="row bottom_margin_10">
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6">
    <span class="">
      <button class="btn btn-big routes_cancel">
        <a href="{% url 'organizer'%}">
          Volver
        </a>
      </button>
    </span>
  </div>
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6 ">
    <a href="{% url 'company_route_create' company.id %}">
      <i class="far fa-plus-square fa-2x"></i>
      <span>
         Crear ruta nueva
      </span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <table class="trips">
      <tr>
       <th>Ruta</th>
       <th>Code</th>
       <th>Salida</th>
       <th>Detalles</th>
       <th>Viajes</th>
      </tr>
      {% for route in routes %}
        <tr>
          <td>{{ route.route_full_name }}</td>
          <td class="right">{{ route.code_full }}</td>
          <td class="right">{{ route.start_time }}</td>
          <td class="company_to_edit">
            <a href="{% url 'company_route_update' route.id %}">
              <i class="fas fa-edit"></i>
            </a>
          </td>
          <td class="schedule_to_edit">
            <a href="{% url 'route_trips_organizer' route.id %}">
              <i class="far fa-sticky-note"></i>
              <span>&nbsp;{% get_unique_children_count_tag trips 'route' route.id %}</span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="row top_margin_10">
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6 ">
    <span class="">
      <button class="btn btn-big routes_cancel">
        <a href="{% url 'organizer'%}">
          Volver
        </a>
      </button>
    </span>
  </div>
  <div class="categoria-img col-md-6 col-sm-6 col-xs-6 ">
    <a href="{% url 'company_route_create' company.id %}">
      <i class="far fa-plus-square fa-2x"></i>
      <span>
         Crear ruta nueva
      </span>
    </a>
  </div>
</div>
