{% load itrans_tags %}

<div class="row align-center">
  <h2  class="col-md-12 col-sm-12 col-xs-12">Organizador de cooperativas</h2>
</div>

<div class=" row">
  <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
    <div>
     <table class="trips">
      <tr>
        <th></th>
        <th>Cooperativa</th>
        <th>Información</th>
        <th>Rutas</th>
      </tr>

      {% for company in companies %}
        <tr>
          <td class="logo-img"><a href="{%  url 'company_details' company.pk %}">
            <img src="{{ MEDIA_URL }}/media/{{ company.logo }}"
                 title="{{ company.name }}" /></a>
          </td>
          <td><a href="{%  url 'company_details' company.pk %}">{{ company.name }}</a></td>
          <td class="company_to_edit">
            <a href="{% url 'company_update' company.id %}">
              <i class="fas fa-edit"></i>
            </a>
          </td>
          <td class="schedule_to_edit">
            <a href="{% url 'company_routes_organizer' company.id %}">
              <i class="far fa-sticky-note"></i>
              <span>&nbsp;{% get_unique_children_count_tag routes 'company' company.id %}</span>
            </a>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="categoria-img col-md-12 col-sm-12 col-xs-12 add_new_company">
    <a href="{% url 'company_create' %}">
      <i class="far fa-plus-square fa-2x"></i>
      <span>
         Crear cooperativa nueva
      </span>
    </a>
  </div>
</div>
