/*========== Left navigation block (Main Section)   ==========*/

.navbar-default2 .navbar-nav2 {
  margin-top: 8px;
}

.navbar-default2 .navbar-nav2  li {
  margin: 5px 20px 5px 0;
  border-radius: 5px;
  border-width: 1px;  
  background-image: linear-gradient(to left, #1be8f2, #0b6c71);
}

.navbar-default2 .navbar-nav2  li > a {
  padding: 4px 15px 6px 15px;
  text-align: left;
}

.navbar-default2 .navbar-nav2  li > a:hover {
  border-radius: 5px;
  border-width: 1px;  
  background-image: linear-gradient(to bottom, #1be8f2, #0b6c71);
}

/*## ========== FORMS - filter ======*/
#filter_block{
    /*padding: 10px 0 10px 0;*/
    /*margin-bottom: 30px;*/
}
#filter_block {
    font-size: 14px;
}
/*## - - - - - - - - - -  - */
.filter_ul{
    font-size: 14px;
    font-weight: bold;
    color: #8E8D8B;
    float:left;
    margin: 0px;
    list-style-type: none;
}
/*#filter_block .filter_li{*/
    /*padding-bottom: 7px;*/
/*}*/


/*.filter_ul SELECT{*/
    /*font-size: 14px;*/
    /*text-align: right;*/
/*}*/
/*.filter_ul submit{*/
    /*font-size: 14px;*/
/*}*/
/*.filt-left{*/
    /*float: left;*/
    /*width: 92px;*/

/*}*/
/*.filt-right SELECT{*/
    /*margin-left: 8px;*/
    /*width: 100px;*/
/*}*/

.filter_li{
    clear: both;

}
/*## - - - - - - - - submits - -  - */

/*#filter_submit {*/
    /*margin-top: 4px;*/
    /*float:right;*/
/*}*/
/*#filter_submit {*/
    /*margin-top: 4px;*/
    /*float:right;*/
    /*height: 30px !important;*/
    /*width: 150px !important;*/
/*}*/
#filter_submit {
    /*margin-top: 4px;*/
    float:right;
    height: 30px !important;
    width: 150px !important;

    background-color: #f2f2f2;
    font: 14px Arial;
    color: #090909;
    /*margin-right: 5px;*/
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 2px solid #ADADAD;
    border-left: 1px solid #CCCCCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor: pointer;
}
#filter_submit:hover {
    background-color: #4da2be;
    color: #ffffff;
}


#id_company_choices {
    list-style: none;
  padding-left: 0px;
}

label {
    margin-bottom: 0;
}