.container {
  /*width: 100% !important;*/
}

/*========== Content block (Main Section)   ==========*/

.page-head h2 {
  margin-top: -100px;
  background-color: white;
  /*font-size: 1.3em;*/
  /*font-weight: 500;*/
  border-radius: 15px;
  border-width: 1px;
  border-color: rgb(231, 231, 231);}


.left-main {
  /*background: url(../img/carretera-background.jpg) no-repeat !important;*/
  /*background-repeat:   ;*/
  /*background-size: 150%;*/
  /*background-size: 100% 100%;*/
}

.left-main {
  background: url(../img/carretera-background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
  min-height: 550px;
}

/*.left-main h1 {*/
  /*font-size: 1.7em;*/
  /*font-style: italic;*/
  /*color: #0B7075;*/
  /*text-align: left;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/

/*}*/

/*.left-main h2,*/
/*.titulpage_title h2 {*/
  /*font-size: 3.0em;*/
  /*color: #904c3f;*/
  /*text-align: center;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/

/*}*/

.left-main h3 {
  /*font-size: 1.5em;*/
  color: #5C5959;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*========------------=======*/

/*======---------------=========*/



.categoria-img {
  /*padding: 30px;*/
  /*background:blue;*/
  /*min-height: 300px;*/
  /*height: 1px;  Требуется, чтобы дочерний блок взял высоту 100% */
}

.backcolor-img1 {
  background:blue;
}

.categoria-img img {
  width: 90%;
  max-width: 250px;
}

.categoria-img p {
  font-weight: 700;
  font-size: 2.0em;
}


.categoria-img .img-box {
  text-align: center;
  padding-left: 0;
}


.img-box  {
  border: 2px solid grey;
}

.img-box {
  width: 100%;
  padding-bottom: 75%;
  background:silver;
}
/*=========*/
.container1 {
  width:100%;
  /*max-width:500px;*/
  min-height: 240px;
  height: 1px; /* Требуется, чтобы дочерний блок взял высоту 100% */
}

.hero {
  width:100%;
  /*height:0;*/
  background-size:100%;
  background: url(../img/carretera-background.jpg) no-repeat center center;
  /*background:url(http://img97.imageshack.us/img97/3410/photo2ue.jpg) no-repeat;*/
  padding-bottom:75%;
}

/*============*/


.img_terminal img, .img_bus img {
  width: 300px;
}




.description {
  font-size: 1.5em;
}

.signature {
  font-size: 1.4em;
}

.signature-box {
  padding-left: 5px;
}



/*========== Page navigator line   ==========*/

.hierarchy {
  font-size: 1.4em;
  color: #5d6e6f;
  padding: 0 0 0 20px;
}

.page-navigator {
  font-size: 1.4em;
  text-align: right;
  color: #5d6e6f;
}

.page-navigator a {
}

.page-navigator a:hover {
  color: #904c3f;
}

.page-navigator li {
  list-style-type: none;
}

.page-navigator ul {
  margin: 0 10px 0 0; /* Отступ в браузере IE и Opera */
  padding: 0 10px 0 0; /* Отступ в браузере Firefox, Safari, Chrome */
}


/*==========  Trip table  ==========*/
table, th, td {
  border: 1px solid black;
  /*border-width:5px;*/
  /*border-style: double;*/
}
.trips {
  /*margin-left: 15px;*/
}

.trips td, th {
  padding: 5px;
  color: #0b6c71;
  font-weight: bold;
}
.trips th {
  color: blue;
  text-align: center;
  font-size: larger;
}
.right {
  text-align: right;
}
.logo-img img {
  width: 80px;
  height: auto;
}

.logo-img-2 img {
  /*width: 240px;*/
  /*height: auto;*/
  margin-top: -20px;
  width: auto;
  height: 60px;
  display: inline-block;
}

.reg_login label {
  font-weight: bold;
  color: #8E8D8B;
  font-size: 14px;
}

.reg_login p {
  color: #1D1C1C;
}

.back_message {
  color: #0e4042;
  /*color: red;*/
  font-size: 18px;
}


/*==========  Clock & Date for dite  ==========*/
x-clock {
  color:silver;
  font-size:30px;
  padding-left: 0;
}

x-date {
  color:dimgrey;
  font-size:15px;
  padding-left: 0;
}


/*==========  Additional block  ==========*/

.advert {
  float: right;
  margin: 0;
  /*width: 245px;*/
  /*size: cover;*/
  padding: 0 10px 20px 10px;
}

.advert img {
  width: 100%;
}

.subscribe {
  font-size: 1.4em;
  text-align: right;
  padding: 0 2px 10px 2px;
  width: 100%;
  height: 100px;
}

.field-subscribe {
  padding: 0 !important;
  margin: 0 !important;
}

.additional .row {
  text-align: center;
}

.rounded_box {
  border-radius: 8px;
  border: 1px solid #aaaaaa;
  padding: 5px;
  margin-bottom: 2px;
}
.rounded_box h5 {
  text-align: center;
  padding-bottom: 5px;
}

.top_margin2 {
  margin-top: 2px;

}
.map_left {
  /*width: auto;*/
}

/*==========  Additional right  ==========*/
.additional_list ul {
  padding-left: 25px;
}

/*==========  Calendar  ==========*/
.calendar_right .datepicker--cell {
  /*height: 28px;*/
  /*height: 70%;*/
}

.calendar_right .datepicker {
  /*border: solid, 1px, grey;*/
  width: 150px;
  /*width: 100%;*/
  /*height: 100%;*/
  /*font-size: 1vw;*/
  background: none;
  border: none;
}
.calendar_right .datepicker--cell.-current- {
  color: #4EB5E6;
  border: solid 1px #FF9A19; }
/*.datepicker {*/
  /*background: #fff;*/
/*}*/
/*.calendar_right .datepicker--nav {*/
  /*font-size: 1vw;*/
  /*width: 20px;*/
/*}*/
/*.datepicker--nav-action svg {*/
  /*width: 25px;*/
  /*text-align: center;*/
/*}*/
.datepicker--nav-title {
  text-align: center;
  /*font-size: 0.9vw;*/
}

.calendar_right .datepicker--cell {
     height: 22px;
}
/*==========  Footer  ==========*/


footer {
  width: 100%
}

footer .row {
  margin-right: 0;
}

/*==========  @media for whole body (Non-Mobile First Method)  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .titulpage {
    padding: 10px 80px 10px 80px;
  }
  .manual_map ul{
    padding-left: 80px;
  }
  .advert-720-img img {
    margin-left: 80px;
  }


}

/* Large Devices, Wide Screens */
/*@media only screen and (max-width : 1200px) {
}*/

/* Medium Devices, Desktops - 2 columns */
@media only screen and (max-width : 992px) {
  .leftimg {
    float:left;
    padding-left: 10px;
   }
  .hierarchy {
    font-size: 1.2em;
  }
  .navigator-but-name {
  }
}

@media (min-width: 992px) {
  .calendar_right .datepicker {
      font-size: 12px;
      width: 150px;
      width: 100%;
  }
}

/* Small Devices, Tablets - 1 column  */
@media only screen and (max-width : 768px) {
  .leftimg {
    float:left;
    padding-left: 5px;
   }
  .additional .row {
    text-align: left;
}
  .advert {
    float: left;
  }
  .titulpage {
    padding: 0 !important;
  }
}

/* Small Devices, Tablets - 1 column  */
@media only screen and (max-width : 460px) {
}






