.navbar-default {
  background-color: #29bcc3;
  background-image: linear-gradient(to bottom, #1be8f2, #0b6c71);
  border-color: #8ee7d3
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #155463;
}
.navbar-default .navbar-nav > li > a {
  color: #155463;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  /*color: #ffbbbc;*/
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /*color: #ffbbbc;*/
  color: #eeeeee;
  background-color: #0b6c71;
  background-image: linear-gradient(to right, #0b6c71, #1be8f2);
  border-color: #8ee7d3;  
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #8ee7d3;
}
.navbar-default .navbar-toggle {
  border-color: #8ee7d3;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #12a1a8;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #155463;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #155463;
}
.navbar-default .navbar-link {
  color: #155463;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #155463;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #8ee7d3;
  }
}