.navbar h2 {
  padding-left: 10px;
}

.navbar-size {
  /*min-height: 220px !important;*/
  /*background-color: #29bcc3;*/
  /*background-image: linear-gradient(to bottom, #111111, #333333) !important;*/
  background-image: linear-gradient(to bottom, #111111, #0b6c71) !important;
  /*background: url(../img/header.jpg) no-repeat !important;*/

}

.navbar-header {
  margin-left: 0;
  /*z-index:100000000;*/
}

.navbar-header button:last-of-type, .navbar-header button:last-of-type:focus {
  border: 0;
  background: transparent;
}

.navbar-collapse {
  position: relative;
  max-height: 270px;
    /*width: 500px;*/
}

.navbar-collapse form[role="search"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 0;
  border: 0;
}

.navbar-collapse form[role="search"] button,
.navbar-collapse form[role="search"] input {
  border-radius: 20px;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}

.navbar-collapse form[role="search"] button {
  padding: 8px 12px;  
}


.navbar-collapse form[role="search"] button:hover {
  color: yellow;
}

.navbar-collapse form[role="search"] input:hover {
  color: #096D65;
}

.navbar-form .btn-search {
  margin-left: 0 !important;
}

.navbar-form .btn-search,
.navbar-form .reset-btn {
  height: 32px;
  color: red;
  background-color: #0DC4E3;
  background-image: linear-gradient(to bottom, #1be8f2, #0b6c71);
}

.navbar-form .btn-search:hover,
.navbar-form .reset-btn:hover {
  color: yellow;
  background-color: #0DC4E3;
  background-image: linear-gradient(to bottom, #0b6c71, #1be8f2);
}

.navbar-collapse form[role="search"] input {
  font-size: 12pt;
  font-style: italic;
  color: rgb(160, 160, 160);
  box-shadow: none;
  height: 35px !important;
  line-height: 20px;
  padding: 0 5px;
}

.navbar-collapse form[role="search"] button[type="reset"] {
  display: none;
}

.input-group {
  margin-top: 4px;
  float: right;
  color: red;
}

.navbar-collapse {
  height: auto;
  /*overflow: hidden !important;*/
}

.navbar-container {
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*width: 100%;*/

  width: 100%;
  margin: 0;
  padding: 10px 2% 10px 2%;
}

.navbar-fixed-top {
  max-height: 70px;
}


/**  Navbar Brand **/

.brand-link {
  position: absolute;
  bottom: 5px;
  left: 0;
  background-color: transparent;
  width: 80px;
  height: 60px;
  z-index: 10000000;
}

.navbar-brand {
  font-family: Sans Regular, sans-serif  !important;
  font-style: italic;
  /*font-family: "Open Sans", sans-serif  !important;*/
  /*font-family: "Roboto Slab", sans-serif !important;*/
  font-weight: 300;
  padding: 5px 0 0 0;
  /*margin: 0;*/
  /*background: url(../img/wisdompetlogo.svg);*/
  /*background: url(../img/logo-trans.png);*/
  background: url(../img/Escudo_de_Cuenca.png);
  background-repeat: no-repeat;
  /*background-size: 100px;*/
  background-size: 40px;
  background-position: 10px 0;
  /*height: 150px;*/
  height: 50px;
}

.navbar-brand p {
  text-align: right;
  margin: 0;
  line-height: 1.2;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 25px;
  width: 150px;
}

a.navbar-brand {
  width: 200px;
  /*color: red;*/
  z-index: 10000;
}

a.navbar-brand:hover {
    /*color: blue;*/
}

navbar-brand p {
  z-index: 100000;
}


.header_clogan {
  color: #338b90;
  font-size: 1.6em;
  text-align: left;
  padding: 0 0 0 30px;
  margin: 0;
}

.header_clogan:hover, .nav_login:hover {
  color: #1be8f2;
}

/*.clogan {*/
  /*padding: 0 0 0 10px;*/
  /*margin: 0;*/
/*}*/
.align-right {
  text-align: right;
}

.nav_login {
  color: #338b90;
  font-size: 1.5em;
  text-align: right;
  padding: 0 30px 0 0;
  margin: 0;
}

.nav_login a:hover {
  color: yellow;
  text-decoration: none;
  /*font-size: 0.6em;*/
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #CCCCCC;
}

/**  Nav **/
/*margin-top: 9px;*/
.nav li a {
  font-size: 1.3em;
  font-weight: 400;
  color: white !important;
}
.nav li a:hover {
  color: yellow !important;
}

.nav .active a {
  font-size: 1.3em;
  font-weight: 500;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgb(231, 231, 231);
}

/*.navbar-nav, .buttons-nav {*/
.navbar-nav {
  margin-top: 8px;
}

/*.navbar-nav  li, .buttons-nav li {*/
.navbar-nav  li {
  margin: 0 3px 0 0;
  border-radius: 5px;
  border-width: 1px;  
  background-image: linear-gradient(to left, #1be8f2, #0b6c71);
}

/*.navbar-nav  li  a, .buttons-nav li a {*/
.navbar-nav  li  a {
  padding: 4px 15px 6px 15px;
}

/*.navbar-nav  li:hover, .buttons-nav li:hover {*/
.navbar-nav  li:hover, .navbar-nav li a:hover {
  border-radius: 5px;
  border-width: 1px;
  background-image: linear-gradient(to bottom, #1be8f2, #0b6c71);
}

.navbar-nav .modal-form a span {
  font-size: 16px;
  color: white;
}

.navbar-nav .modal-form a span:hover {
  color: yellow;
}





/**  @media for navbar/header **/

@media only screen and (max-width: 450px) {
  .alert-success {
    /*background-color: red !important;*/
  }
}

@media only screen and (max-width: 992px) {
  .navbar-brand {
    /*margin-left: 10px;*/
  }
  .navbar-brand p {
    font-size: 1.1em;    
    margin-left: 65px;
    width: 80px;    
  } 
  .navbar-container {
    margin-left: 10px;
    padding-left: 1%;
    padding-right: 3% !important;
  }
  .nav li a {
    font-size: 1.1em;    
  }
  .navbar-nav  li  a {
    padding: 14px 10px 12px 10px;
  }
}

@media only screen and (max-width: 768px) {
  .alert-success {
    /*background-color: violet !important;*/
  }
  .navbar-container {
    margin-left: 10px;
    padding-right: 20px !important;
  }
  .navbar-nav {
    background-color: #116669;
    /*padding-top: 14px;*/
    /*margin-top: 10px;*/
    height: auto;
    margin-right: 0;
  }
  .navbar-container {
    /*height: 1000px !important;*/
    height: auto !important;
  }
  .input-group {
    margin-top: 10px;
    float: right;
  }
  .navbar-form {
    width: 50% !important;
    margin-right: 10px !important; 
  }
  .btn-search {
    margin-right: 4px;
  }


}




@media only screen and  (min-width: 768px) {
  .navbar-collapse {
    padding-top: 0 !important;
    /*padding-right: 38px !important;*/
    white-space : nowrap;   
  }
  .navbar-collapse form[role="search"] {
    width: 38px;
  }
  .navbar-collapse form[role="search"] button,
  .navbar-collapse form[role="search"] input {
    /*padding: 15px 12px;*/ 
  }
  .navbar-collapse form[role="search"] input {
    font-size: 14pt;
    opacity: 0;
    display: none;            
    height: 50px;
  }
  .navbar-collapse form[role="search"].active {
    -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
    -webkit-transition: width 0.5s linear;
    transition: width 0.5s linear;
    width: 50%;
  }
  .navbar-collapse form[role="search"].active .input-group-btn {
    width: 1%
  }
  .navbar-collapse form[role="search"].active button,
  .navbar-collapse form[role="search"].active input {
    display: table-cell;
    opacity: 1;
  }
  .navbar-collapse form[role="search"].active input {
    width: 100%;
    text-align: right;
  }
  .form-control {
    height: 35px;
  }
  .navbar-nav {
    /*background-color: #116669;*/
    /*padding-top: 14px;*/
    /*margin-top: 10px;*/
    /*height: auto;*/
    margin-right: 10px;
  }
  .navbar-nav  li  a {
    padding: 4px 15px 6px 15px;
  }
  
}

/* Small Devices, Tablets - 1 column  */
@media only screen and (max-width : 460px) {
.brand-link {
  width: 0;
}}


