@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);


body {
  /*font-family: "Roboto Slab", sans-serif;*/
  background-color: #fbf7e7;
  /*background: white url(../img/something.jpg) no-repeat right bottom;*/
  padding: 0px 0 60px 0;
  color: #1D1C1C;
}

body{
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  position: relative;
  overflow: auto;
  /*overflow-x: hidden;*/
  height: 100%;
  padding-bottom: 0;
}

.main {
}

.content {
  margin-left: 20px;
}
body {
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 500;
  margin: 0;
}

.row {
  margin-right: 0;
}

h1 {
  text-align: center;
  font-size: 2.9em;
  padding: 10px 0 20px 0;
  color: #904c3f;
}
h2 {
  color: #5d6e6f;
  font-size: 2.0em;
  text-align: center;
  /*color: #61C0C4;*/
  /*color: #6c7f79;*/
}
h3 {
  color: #5d6e6f;
  font-size: 1.5em;
  text-align: center;
  /*color: #61C0C4;*/
  /*color: #6c7f79;*/
}


.navcat ul {
/*  background-color: #F0F0F0;
  width: 240px;
  margin-left: 5px;*/
}


/**  footer **/

.footer-wrapper {
  font-size: 1.2em;
  font-weight: 300;
  color: white; 
  background-color: #904c3f;
  padding-top: 10px;
  margin-bottom: -30px;
}

.footer-wrapper a {
  color: yellow; 
}

.footer-wrapper a:hover {
  color: yellow; 
  font-weight: 500;
}


/*==========  @media for whole body (Non-Mobile First Method)  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .container {
      width: 1170px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .container {
      width: 970px;
  }
}

/* Medium Devices, Desktops - 2 columns */
@media only screen and (max-width : 992px) {
  .container {
      width: 740px;
  }
}

/* Small Devices, Tablets - 1 column  */
@media only screen and (max-width : 768px) {
  .container {
      width: 100%;
  }
}

/* Small Devices, Tablets - 1 column  */
@media only screen and (max-width : 460px) {
  .container {
      /*width: 100%;*/
  }
}


