footer, footer a  {
    color: #4f4e4e;
    font-size: 13px;
}

footer a:hover  {
    color: #47C132;
    font-size: 13px;
    text-decoration: none;
}

footer .footer-copyright {
    background-color: #0DC4E3;
    width: 100%;
    /*background: url(../img/icons/footer-wide-divider.jpg) no-repeat center center;*/
    background: url(../img/icons/footer-wide-divider.jpg) no-repeat;
    /*height: 40px;*/
    padding-top: 17px;
}


footer .footer-copyright .copyright-right p {
    float: right;
    background-color: red;
    display: inline-block;
    color: #4f4e4e;
    font-size: 13px;
    padding: 0 8px;
    background: url(../img/icons/footer-menu-divider.jpg) no-repeat 100% 0;
}