.header {
    /*height: 54px;*/
    background-color: darkslategrey;
}

/*Header for Secondary page*/

#Header {
  background: url(../img/backgrounds/ic-header-green-to-white.jpg) repeat-y 0 0/100%;
}

#Header .headerBranding {
  background: url(../img/backgrounds/header-2-860x125.jpg) no-repeat -15% 0;
  height: 125px;
  width: 100%;
  padding: 0 5% 0 5%;
  /*max-width: 1031px;*/
  margin: 0 auto; }
  #Header .headerBranding a {
    /*for logo*/
    float: left;
  }
  #Header .headerBranding h2 {
  float: right;
  margin: 28px 0 0 ;
  line-height: 82px;
  color: #47c132;
  font-size: 36px;
  font-weight: normal;
  }

/*.headerBranding h2 {*/
  /*color: #47c132;*/
  /*font-size: 36px;*/
  /*font-weight: normal ;*/
  /*margin: 0 0px 10px 0;*/
  /*!*padding-left: 50px;*!*/
/*}*/

.full_width {
  width: 100%;
}



/*Header for Homepage*/
.carousel-item {
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-background-1 {
  background: url(../img/carousel/bus_on_the_road.jpg) no-repeat center bottom;
}
.header-background-2 {
  background: url(../img/carousel/cuenca-calle.jpg) no-repeat center center;
}
.header-background-3 {
  background: url(../img/carousel/cuenca_sunset.jpg) no-repeat center bottom;
}
.header-background-4 {
  background: url(../img/carousel/cuenca.jpg) no-repeat center center;
}

.escudo_head, .escudo_head_secondary {
  position: absolute;
  height: 200px;
  width: 140px;
  margin: 30px 0 0 50px;
  /*top: 30px;*/
  /*left: 0;*/
  background: url(../img/Escudo_de_Cuenca.png) 10%;
  background-repeat: no-repeat;
  background-size: 140px;
  z-index: 1000;
}

.escudo_head_secondary {
  margin: -140px 0 0 30px;
  background-size: 100px;

}

.escudo_box{
  float: left;
  /*padding-left: 10%;*/
}

.escudo_cuenca_head2 {
  padding: 5px 40px 0 0 ;
  height: 120px;
}

.escudo_nav {
  position: absolute;
  height: 150px;
  width: 100px;
  top: 0;
  left: 10px;
  background: url(../img/Escudo_de_Cuenca.png) 10%;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 0px 0;
  /*opacity: 0.7; !* Полупрозрачный фон *!*/
  /*filter: alpha(Opacity=70); !* Прозрачность в IE *!*/

  z-index: 1000;
}

.header_h1 {
  padding: 30px 0 0 50px !important;
  margin: 0 !important;
  color: white;
  font-size: 40px;
  font-weight: 800;
}

/*.header_h2 {*/
  /*!*color: #47c132;*!*/
  /*color: red;*/
  /*font-size: 30px;*/
  /*font-weight: 400;*/
/*}*/

header .h1_header {
  color: white;
  size: 68px !important;
  font-weight: 800;
}
header .h1_header_2 {
  color: white;
  size: 30px !important;
  font-weight: 800;
  padding-left: 50px;
}
/* /// Header for Homepage*/


