/*{#!* -----------------------------------------#}*/
/*{#   Menu Styles#}*/
/*{#----------------------------------------- *!#}*/

#navbarResponsive {
  position: relative;
}
#navbarResponsive .nav-item {
    padding-left: 20px;
    padding-right: 20px;
}
#navbarResponsive .nav-item:hover {
    background-color: #d4d6d4;
}

.navbar {
  /*max-width: 1031px;*/
  margin: 0 auto;
  background: none;
  /* if home icon goes back into menu take the style below away */
}
.navbar li {
    border: none;
    /*background: url("../v2/img/icons/menu-divider.jpg") no-repeat 100% 0;*/
    background: url(../img/icons/menu-divider.jpg) no-repeat 100% 0;
    position: static;
}

.navbar .first-li{
    border: none;
    /*background: url("../v2/img/icons/menu-divider.jpg") no-repeat 100% 0;*/
    background: url(../img/icons/menu-divider.jpg) no-repeat 100% 0,
                url(../img/icons/menu-divider.jpg) no-repeat 0 0;
    position: static;
}


.navbar li a.link {
    color: #817F7F;
}
    .navbar > li:hover {
      background: #333333; }

.navbar-nav {
    /*margin: 0 auto !important;*/
    /*margin-left: none !important;*/
}

.top-shift {
    /*margin-bottom: 60px;*/
    margin-top: -210px;
}
#mNavbar{
    height: 40px;
    background: linear-gradient(to bottom, #f6f9f6 0%, #f6f9f6 47%, #ecedea 56%, #ecedea 100%);
    border: 1px solid #d7dcdd;
}

.nav-link img {
    padding-bottom: 3px;
    fill: red;
}

.icon-link {
    border: 1px solid red;
    fill: red;
    color: red;
    height: 20px;
    /*width:  5px*/
}

.icon-link path {
    fill: red;
}

.mbri-home {
    font-size: 14px;
    fill: red;
}

.clock {
    color: silver;
    font-size: 25px;
    padding-left: 120px;
    text-align: center;
}
.nav_title {
    color: #47c132;
    font-size: 25px;
    padding-top: 15px;
    padding-left: 40px;
    text-align: right;
}

.x_nav_date {
    font-size: 14px;
}

/*x-clock, x-date {*/
    /*color: silver;*/
    /*font-size: 30px;*/
    /*padding-top: 150px;*/
/*}*/

/*.escudo_nav {*/
    /*color: silver;*/
    /*font-size: 30px;*/
    /*padding-top: 150px;*/
/*}*/

