body, html {
  /*padding-top: 54px;*/
    background: white;
    /*font-family: "omnes-pro",calibri,sans-serif;*/
    font-family: "omnes-pro";
    /*font-size: 14px;*/
    /*font-size: 1.4rem;*/
    line-height: 1;
    color: #222222;
    min-height: 1000px;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

a:hover {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}

.rounded_box {
  margin-bottom: 20px;
  padding: 15px;
  width: auto;
  /*padding: 15px;*/
  color: #4F4E4E;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  border-bottom: 2px solid #47c132;
  box-shadow: 1px 0 9px 4px #F7F4F4 inset;
  -moz-box-shadow: 1px 0 9px 4px #F7F4F4 inset;
  -webkit-box-shadow: 1px 0 9px 4px #F7F4F4 inset;

}

.datepicker-inline .datepicker {
    /*width: auto;*/
    border: none;
}

.invissible {
    visibility: hidden;
}

h1 {
    color: #47c132;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 18px 0;
    line-height: 34px;
}

h2 {
    color: #47c132;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 18px 0;
    line-height: 34px;
}

h3 {
    color: #47c132;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 18px 0;
    line-height: 34px;
}

.logo-img img {
    width: 80px;
    height: auto;
}

.pad_top_20{
    padding-top: 20px;
}

.content-box {
    background: white;
    margin-top: 25px;
    padding: 12px 0 0 20px;
    max-height: 172px;
    border: 1px solid #dcdbdb;
    -webkit-box-shadow: inset 1px 0px 9px 4px #f7f4f4;
    -moz-box-shadow: inset 1px 0px 9px 4px #f7f4f4;
    box-shadow: inset 1px 0px 9px 4px #f7f4f4;
}
table, th, td {
    border: 1px solid #b0b0b0;
    /* border-width: 5px; */
    /* border-style: double; */
}

/*==========  homepage - rutas principales  ==========*/
.trips {
  /*margin-left: 15px;*/
}

.trips td, th {
  padding: 5px 15px 5px 15px;
  /*color: #0b6c71;*/
  /*font-weight: bold;*/
}
.trips td, .trips td a {
    color: #555555;
    font-size: 14px;
    font-family: "omnes-pro";
    line-height: 22px;
    /* font-weight: bold; */
    margin-bottom: 0;
}

.trips td a:hover {
    color: #47C132;
    font-size: 14px;
    text-decoration: none;
}
.trips th {
  /*color: blue;*/
  /*text-align: center;*/
  /*font-size: larger;*/
    color: #555555;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    /*width: 100%;*/
    line-height: 45px;
}
/*==========  Company list in Widgets  ==========*/
.company_list a {
  color: #4f4e4e;
  font-size: 16px;
  line-height: 22px;
}
.company_list a:hover{
  color: #47C132;
  font-size: 18px;
  text-decoration: none;
}
.company_list li {
  list-style-type: none; /* Убираем маркеры у списка */
}
.company_list li:before {
  content: "-- "; /* Добавляем в качестве маркера символ */
}
/*===================*/


/*==========  Calendar  ==========*/
.calendar_right .datepicker {
  /*border: solid, 1px, grey;*/
  width: 150px;
  font-size: 12px;
  background: none;
  border: none;
  margin: 0 auto;
}
.calendar_right .datepicker--cell.-current- {
  color: #4EB5E6;
  border: solid 1px #FF9A19; }

/*.datepicker {*/
  /*background: #fff;*/
/*}*/
/*.calendar_right .datepicker--nav {*/
  /*font-size: 1vw;*/
  /*width: 20px;*/
/*}*/
/*.datepicker--nav-action svg {*/
  /*width: 25px;*/
  /*text-align: center;*/
/*}*/

.datepicker--nav-title {
  text-align: center;
}

.calendar_right .datepicker--cell {
     height: 22px;
}
/*===================*/


/*==========  Home pagẹ  ==========*/
.terminal_home {
  width: 300px;
  height: auto;
}

.notes {
  font-size: 16px;
  font-style: italic;
  padding: 10px 0 40px 20px;
}
/*===================*/

/*==========  Route filter  ==========*/
.filter_li {
  padding: 0px 0 10px 20px;
}
.filter_label {
  padding: 10px 0 10px 0px;
}
.filter_value {
  /*padding: 10px 0 0px 10px;*/
  padding-left: 0px;
}
.filter_value select {
  width: 110px;
}
.filter_submit_box {
  text-align: right;
  /*margin-right: auto;*/
  /*margin-left: auto;*/
}
#filter_submit{
  color: #47c132;
  font-size: 30px;
  font-weight: normal;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 3px solid #aaaaaa;
  border-bottom: 5px solid #47c132;
  background: white;
  margin: -20px 20px 10px 0;
}

/*===================*/

.company_contacts .img_bus img {
  max-width: 300px;
}

.h2-logo img {
  max-width: 100%;
  padding: 0 0 10px 20px;
}

.img_terminal img {
  max-width: 100%;
}

.terminal_page img {
  width: 100%;
  padding-bottom: 20px;
}

.google_map iframe {
  width: 100%;
}

/*==========  Reg_login and Messages  ==========*/
.reg_login label {
  font-weight: 600;
  color: #8E8D8B;
  font-size: 18px;
}
.reg_login .help-block {
  font-weight: normal;
  color: #8E8D8B;
  font-size: 14px;
  padding-left: 12px;
}
.back_message {
  color: #0e4042;
  font-size: 18px;
}
.login_form .controls {
  margin-bottom: 15px;
}

#filter_submit:hover {
  color: #710719;
  border-color: #b6cbbe !important;
  background-color: #f4fffd;

}
#filter_submit:focus {
  outline: none  !important;
}
.company_to_delete i:hover {
  color: #ff050e;
}
.company_to_delete,
.company_to_edit,
.schedule_to_edit {
  text-align: center;
}

.add_new_company {
  padding: 20px 0 0 30px;
}
.add_new_company i {
  color: #47c132;
}
.add_new_company span {
  font-size: 18px;
  padding-left: 10px;
}
.add_new_company span:hover {
  color: #47c132;
  font-size: 18px;
  padding-left: 10px;
}
#update_company label {
  width: 150px;
}
#update_company input {
  width: 400px;
}
.update_cancel {
  margin-right: 20px;
}
.update_cancel:hover {
  background-color: #b5cabd;
}
.update_delete button:hover {
  background-color: #ff4034;
  /*color: white;*/
}
.update_delete button >a:hover {
  color: inherit;
}
.update_delete >button:hover {
  color: white !important;
}

.navbar-nav li.active {
  background-color: #cfffaf;
}

.breadcrumbs {
  margin: 10px 0 0 70px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li a:hover {
  color: #47c132;
}
.bottom_margin_10 {
  margin-bottom: 10px;
}
.top_margin_10 {
  margin-top: 10px;
}


/*===================*/


@media (min-width: 992px) {
  body {
    /*padding-top: 56px;*/
  }
}