{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}



{#=============== Company Routes ================#}
<div class="additional_list rounded_box">
    <h3>Rutas de {{ company.name }}</h3>

{#        <div class="row">#}
{#          <div class="col-md-6 col-sm-12 col-xs-12">#}
              {% if routes %}
                  <ul>
                      {% for route in routes %}
                        {% if route.to_end != 'Cuenca' %}
                          <li> <a href="#comp_routes">{{ route.to_end }}
                            {% if route.stopover %}
                              (via {{ route.stopover }})
                            {% elif route.stopover2 %}
                              (via {{ route.stopover }}-{{ route.stopover2 }})
                            {% endif %}
                          </a></li>
                        {% endif %}
                      {% endfor %}
                  </ul>
              {#  In case no routes exists.  #}
              {% else %}
              <h3> No encontrado ni una ruta.</h3>
              {% endif %}

{#          </div>#}
          <div class="col-md-6 col-sm-12 col-xs-12">
{#            <h3>Rating</h3>#}
{#            +3.5 (52)#}
          </div>
{#        </div>#}
  </div>


{#=============== Cooperativas de Transporte en Cuenca ================#}
  <div class="rounded_box">
    <h5>Cooperativas de Transporte en Cuenca </h5>
    <div class="additional_list">
      {% if company_list %}
        <ul>
          {% for company in company_list %}
            <li> <a href="{{ company.get_absolute_url_v1 }}">{{ company.name }}</a></li>
          {% endfor %}
        </ul>
{#          In case no company exists.#}
        {% else %}
        <h3> No company found.</h3>
      {% endif %}
    </div>
  </div>

{#=============== Company Contacts ================#}
{#  <div class="rounded_box">#}
{#    <h3>Contactos de {{ company.name }}</h3>#}
{#      <div>Página web: <a href="{{ company.website }}">{{ company.website }}</a></div>#}
{#      <div>Correo: {{ company.email }}</div>#}
{#            {% if company.terminal != "Terminal Terrestre" %}#}
{#      {% if company.is_terminal_terrestre %}#}
{#        <div>Terminal: <a href="/terminal_terrestre/"> Terminal Terrestre</a></div>#}
{#      {% else %}#}
{#        <div>Terminal: {{ company.terminal }} ({{ company.office_address }})</div>#}
{#      {% endif %}#}
{#            <div>Oficina: {{ company.office_address }}</div>#}
{#            <div>Horas de trabajo: {{ company.office_opening }} - {{ company.office_closing }}</div>#}
{#      <div>Teléfono: {{ company.phone }}</div>#}
{#      <div>Teléfono2: {{ company.phone2 }}</div>#}
{#      <div>Boletería: {{ company.phone_tickets }}</div>#}
{#      <div>Encomiendas: {{ company.phone_help }}</div>#}
{##}
{#  </div>#}



{#=============== Company Contacts ================#}
{#  <div class="rounded_box">#}
{#            <h3>Terminal en Cuenca</h3>#}
{#            <iframe class="map_left" src="{{ company.terminal_map }}"#}
{#            width="150" height="200" frameborder="0" style="border:0"#}
{#            allowfullscreen></iframe>#}
{#  </div>#}





  <div id="ajax_filter_form" class="filter_form">
{#    {% includes "core/ajax_filter_form.html" %}#}
  </div>
