{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}


{#=============== Cooperativas de Transporte en Cuenca ================#}
{#=============== Company Routes ================#}
<div class="additional_list rounded_box  top_margin2">
    <h5>Rutas con Cuenca </h5>

{#        <div class="row">#}
{#          <div class="col-md-6 col-sm-12 col-xs-12">#}
              {% if routes %}
                  <ul>
                      {% for route in routes %}
                        {% if route.to_end != 'Cuenca' %}
                          <li> <a href="#comp_routes">{{ route.to_end }}
                            {% if route.stopover %}
                              (via {{ route.stopover }})
                            {% elif route.stopover2 %}
                              (via {{ route.stopover }}-{{ route.stopover2 }})
                            {% endif %}
                          </a></li>
                        {% endif %}
                      {% endfor %}
                  </ul>
              {#  In case no routes exists.  #}
              {% else %}
              <h3> No encontrado ni una ruta.</h3>
              {% endif %}

{#          </div>#}
          <div class="col-md-6 col-sm-12 col-xs-12">
{#            <h3>Rating</h3>#}
{#            +3.5 (52)#}
          </div>
{#        </div>#}
  </div>





  <div class="rounded_box top_margin2">
    <h5>Cooperativas de Transporte en Cuenca </h5>
    <div class="additional_list">
      {% if company_list %}
        <ul>
          {% for company in company_list %}
            <li> <a href="{{ company.get_absolute_url_v1 }}">{{ company.name }}</a></li>
          {% endfor %}
        </ul>
{#          In case no company exists.#}
{#        {% else %}#}
{#        <h3> No company found.</h3>#}
      {% endif %}
    </div>
  </div>

<div class="row"></div>
        <br />


        <div class="row">
          <div class="advert">
{#            <img class="img-rounded"  alt="Advert - right colomn" width="240" src="{% static "img/advert/reklama_240x300.png" %}" />#}
          </div><!-- advert -->
        </div>









