{% extends 'core/base.html' %}
{% load staticfiles %}
{% load static %}


{% block all-main %}

    <div class="main-row main-main row">
{#================== Additional left content block ======================    #}

      <div class="additional col-md-2 col-sm-4 col-xs-12 ">
{% include "core/add_left_companies.html" %}
      </div>

{#================== Central content block ======================    #}
      <div class="left-main page-content col-md-8 col-sm-4 col-xs-12">
{% block content %}{% endblock content %}
      </div>

<!--==== Additional right content block ====-->
      <div class="additional col-md-2 col-sm-4 col-xs-12 ">
{% include "core/additional_right.html" %}
      </div>

    </div> <!-- main-row main-main row -->
{% endblock all-main %}











