{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}

  <div class="rounded_box">
    <h3>Mi viaje eligido</h3>
  </div>

  <div id="ajax_filter_form" class="filter_form ">
{#    {% includes "core/ajax_filter_form.html" %}#}

      <form id="filter_block" class="filter_ul rounded_box" action="/schedule/" method="post">
          {% csrf_token %}
            {% for f in form %}
              <div class="filter_li">
                    <div class="">{{ f.label }}</div>
                    <span class="">{{ f }}</span>
              </div>
            {% endfor %}
          <input id="filter_submit" type="submit" value="Elejir" />
      </form>

  </div>

{#        <h2><a id="multicheck_field_try">Multicheck</a></h2>#}
{#        <h2><a id="ajax_schedule_data_try">AJAX-DATA</a></h2>#}
{#        <h2><a id="test">Check ajax</a></h2>#}
{#        <ul class="nav buttons-nav    navbar-left">#}
{#          <li id="ajax_test"><a ><span class="glyphicon glyphicon-arrow-up"></span>&nbsp &nbsp De Cuenca</a></li>#}
{#        </ul>#}
        <br />
        <br />


{#=============== Cooperativas de Transporte en Cuenca ================#}
{#  <div class="rounded_box">#}
{#    <h5>Cooperativas de Transporte en Cuenca </h5>#}
{#    <div class="additional_list">#}
{#      {% if company_list %}#}
{#        <ul>#}
{#          {% for company in company_list %}#}
{#            <li> <a href="{% url 'company_details' company.id %}">{{ company.name }}</a></li>#}
{#          {% endfor %}#}
{#        </ul>#}
{#          In case no company exists.#}
{#        {% else %}#}
{#        <h3> No company found.</h3>#}
{#      {% endif %}#}
{#    </div>#}
{#  </div>#}


        <br />

<div class="row"></div>
{#=============== Cooperativas de Transporte en Cuenca ================#}
  <div class="rounded_box top_margin2">
    <h5>Cooperativas de Transporte en Cuenca </h5>
    <div class="additional_list">
      {% if company_list %}
        <ul>
          {% for company in company_list %}
            <li> <a href="{{ company.get_absolute_url_v1 }}">{{ company.name }}</a></li>
          {% endfor %}
        </ul>
{#          In case no company exists.#}
{#        {% else %}#}
{#        <h3> No company found.</h3>#}
      {% endif %}
    </div>
  </div>

<div class="row"></div>
        <br />


        <div class="row">
          <div class="advert">
{#            <img class="img-rounded"  alt="Advert - right colomn" width="240" src="{% static "img/advert/reklama_240x300.png" %}" />#}
          </div><!-- advert -->
        </div>









