{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}


  <div class="rounded_box">
    <div class="text-center"><x-clock></x-clock></div>
    <div class="text-center"><x-date></x-date></div>
  </div>

{#=============== Calendar ================#}
<div class="rounded_box">
  <div type='text' class="calendar_right datepicker-here air_datepicker"  data-position="right left" >
  </div>
</div>


  <br>
    <div class="advert">
{#      Right advert block#}
{#      <img class="img-rounded"  alt="Advert - right colomn" width="240" src="{% static "img/advert/reklama_240x300.png" %}" />#}
    </div>

