
      <form id="filter_block" class="filter_ul " action="/schedule/" method="post">
          {% csrf_token %}
            {% for f in form %}
              <div class="filter_li">
                    <div class="">{{ f.label }}</div>
                    <span class="">{{ f }}</span>
              </div>
            {% endfor %}
          <input id="filter_submit" type="submit" value="Elejir" />
      </form>

