<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
{% load static %}
<html>
<head>
  <title>Cuenca: Buses Interprovinciales </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Keywords" content="" />
  <meta name="Description" content="" />

  <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/modernizr.js' %}"></script>
  <script src="{% static 'js/jquery.raty.min.js' %}"></script>

  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-theme.min.css' %}">   -->
  <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <!-- CSS reset-->
  <link rel="stylesheet" href="{% static 'css/singin-modal.css' %}">
  <link rel="stylesheet" href="{% static 'air_datepicker/css/datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'css/nav-colorstyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/main-block.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/left-block.css' %}">

  <script src="{% static 'air_datepicker/js/datepicker.min.js' %}"></script>
  <script src="{% static 'air_datepicker/js/i18n/datepicker.es.js' %}"></script>


  <script src="{% static 'js/singin-modal.js' %}"></script>
  <script src="{% static 'js/ajax_left_filter.js' %}"></script>


  <script type="text/javascript" src="http://bootstraptema.ru/plugins/2015/x-tag/x-tag-core.min.js"></script>
  <script src="{% static 'js/clock_bs_digital.js' %}"></script>



</head>
<body>


<div wrapper container>

  <!--==== Header with Navigation included ====-->
{% include "core/header-navigation.html" %}
 
  <!--==== Main Container ====-->
  <div class="main container">

    <!--==== all  rows and blocks of Main Container  ====-->

{% block maintitle %}
      <h1>Main title</h1>
{% endblock maintitle %}

{% block all-main %}{% endblock all-main %}
{% block startpage %}{% endblock startpage %}

  </div>  <!-- main container -->
</div> <!-- wrapper container -->





<script>
$('.air_datepicker').datepicker({
    navTitles: {
        days: 'M, yyyy'
    },
    language: 'es'
});
</script>



  <!--==== Footer ====-->
<div id="footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <!-- <p>Call us toll-free at <span class="phone">800-888-8888</span></p> -->
        <p>All contents &copy; 2017 <a href="http://nuevavida.edu">NuevaVida</a>. All rights reserved.</p>
      </div><!-- col-sm-6 -->
    </div><!-- row -->
  </div><!-- content container -->
</div>

</body>
</html>


