{% extends 'core/base.html' %}

{% block maintitle %}
      <h1>Cooperativas de Transporte en Cuenca</h1>
{% endblock maintitle %}

{% block all-main %}

    <div class="main-row main-main row">

      <!--==== Main content block ====-->

{#================== Additional left content block ======================    #}

      <div class="additional col-md-2 col-sm-4 col-xs-12 ">
{% include "core/add_left_companies.html" %}
      </div>
      <!--==== end of Additional content block ====-->
{#=========================================    #}

      <div class="left-main page-content col-md-8 col-sm-8 col-xs-12">

        <div class=" row">
          <div class="categoria-img col-md-10 col-sm-10 col-xs-10">
            <h2>Todos cooperativas en una hoja</h2>
          </div>
          <div class="categoria-img col-md-2 col-sm-2 col-xs-2">
{#            <span>Back to cooperativas </span>#}
          </div>
        </div>`

        <div class=" row">
          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
            <div>
             <table class="trips">
              <tr>
                <th></th>
                <th>Cooperativa</th>
                <th>Rutas</th>
                <th>Bus Tipo</th>
                <th>Terminal</th>
{#                <th>Rating</th>#}
{#                <th>Referencias</th>#}
              </tr>


              {% for company in companies %}
                <tr>
{#                  <td class="logo-img"><a href="{% url 'company_details' company.id %}">#}
                  <td class="logo-img"><a href="{{ company.get_absolute_url_v1 }}">
                    <img src="{{ MEDIA_URL }}/media/{{ company.logo }}" title="{{ company.name }}" /></a>
                  </td>
{#                  <td><a href="{% url 'company_details' company.id %}">{{ company.name }}</a></td>#}
                  <td><a href="{{ company.get_absolute_url_v1 }}">{{ company.name }}</a></td>
                  <td>Rutas</td>
                  {% if company.use_minibus %}
                    <td>Minibus</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  {% if company.is_terminal_terrestre %}
                    <td class=""><a href="/terminal_terrestre/">Terminal Terrestre</a></td>
                  {% else %}
                    <td class=""><a href="{% url 'company_details' company.id %}">{{ company.terminal }}</a></td>
                  {% endif %}

{#                  <td class="right"><a href="{% url 'company_details' company.id %}">+3.5 (52)</a></td>#}
{#                  <td><a href="{% url 'company_details' company.id %}">{{ company.comments | length }}</a></td>#}
                </tr>
              {% endfor %}
              </table>
            </div>
          </div>
        </div>

      </div> <!-- left-main -->

{% block content %}{% endblock content %}
      <!--==== end of Main content block ====-->

      <!--==== Additional right content block ====-->
      <div class="additional col-md-2 col-sm-4 col-xs-12 ">
{% include "core/additional_right.html" %}
      </div>
      <!--==== end of Additional right content block ====-->

    </div> <!-- main-row main-main row -->

<!-- ===================================================================== -->

{% endblock all-main %}


