{% extends 'core/base.html' %}
{#{% load itrans_tags %}#}

{% block maintitle %}
{#  <span class="logo-img-2">#}
{#             <img src="{{ MEDIA_URL }}/media/{{ company.logo }}" alt="{{ company.name }} logo" />#}
{#  </span>#}
{#      <h1>Horario y descripcion de la cooperativa</h1>#}
      <h1 class="logo-img-2">
             <img src="{{ MEDIA_URL }}/media/{{ company.logo }}" alt="{{ company.name }} logo" />

                 &nbsp&nbsp&nbsp&nbsp{{ company.prename}} {{ company.name }}
      </h1>

{#  <div class="row">#}
{#    <div class="col-md-3 col-sm-3 col-xs-12 logo-img-2">#}
{#             <img src="{{ MEDIA_URL }}/media/{{ company.logo }}" alt="{{ company.name }} logo" />#}
{##}
{#    </div>#}
{#    <div class="col-md-9 col-sm-9 col-xs-12">#}
{#      <h1 class="logo-img-2">{{ company.prename}} {{ company.name }}</h1>#}
{#    </div>#}
{##}
{#  </div>#}


{% endblock maintitle %}

{% block all-main %}

    <div class="main-row main-main row">

      <!--==== Main content block ====-->

{#================== Additional left content block ======================    #}

      <div class="additional col-md-2 col-sm-4 col-xs-12 ">
{% include "core/add_left_company_details.html" %}
      </div>
      <!--==== end of Additional content block ====-->
{#===================== Campany Logo and Name ====================    #}

      <div class="left-main page-content col-md-8 col-sm-8 col-xs-12">

        <div class="row">
          <div class="col-md-9 col-sm-12 col-xs-12">
            <h2>Horario de {{ company.name }} (con Cuenca)</h2>
{#            <img src="{% static "static_dir/img/loja_logo.png" %}" alt="Cooperativa Logo" /></a>#}
{#            <img src="{{ MEDIA_URL }}/media/{{ company.logo }}" alt="{{ company.name }} logo" />#}
          </div>
          <div class="col-md-3 col-sm-12 col-xs-12">
            <ul class="nav navbar-nav    navbar-right">
              <li><a href="/company_list/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp &nbsp Back</a></li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
{#            <h2>{{ company.name }} === {{ company.prename}}</h2>#}
          </div>
        </div>



{#================= Company Buses Schedule ==============#}
        <div id="comp_routes" class="row">
        </div>



{#===============================#}
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
{#            <h2>Horario de {{ company.name }} (con Cuenca)</h2>#}
            <table class="trips">
              <tr>
               <th>Ruta</th>
               <th>Distancia</th>
               <th>Horario</th>
               <th>Tiempo</th>
               <th>Precio</th>
              </tr>

              {% for trip in trips %}
                <tr>
                  <td>{{ trip.route.route_name_compose }}</td>
                  <td class="right">{{ distance }}</td>
                  <td class="right">{{ trip.start_time }}</td>
                  <td class="right">{{ trip.route.duration }}</td>
                  <td>${{ trip.route.price }}</td>
                </tr>
              {% endfor %}
            </table>

          </div>
{#          <div class="col-md-2 col-sm-2 col-xs-12">#}
{#            <ul class="nav navbar-nav    navbar-right">#}
{#              <li><a href="#top"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp &nbsp Back</a></li>#}
{#            </ul>#}
{#          </div>#}
        </div>



{#================= Company Contacts and Map in Cuenca ==============#}
        <div class="row">
          <div class="contacts col-md-6 col-sm-12 col-xs-12">
            <h3>Contactos</h3>
            <div>Página web: <a href="{{ company.website }}">{{ company.website }}</a></div>
            <div>Correo: {{ company.email }}</div>
{#            {% if company.terminal != "Terminal Terrestre" %}#}
            {% if company.is_terminal_terrestre %}
              <div>Terminal: <a href="/terminal_terrestre/"> Terminal Terrestre</a></div>
            {% else %}
              <div>Terminal: {{ company.terminal }} ({{ company.office_address }})</div>
            {% endif %}
{#            <div>Oficina: {{ company.office_address }}</div>#}
{#            <div>Horas de trabajo: {{ company.office_opening }} - {{ company.office_closing }}</div>#}
            <div>Teléfono: {{ company.phone }}</div>
            <div>Teléfono2: {{ company.phone2 }}</div>
            <div>Boletería: {{ company.phone_tickets }}</div>
            <div>Encomiendas: {{ company.phone_help }}</div>
          </div>
          <div class="img_bus col-md-6 col-sm-12 col-xs-12">
            <h3>Buses de {{ company.name }}</h3>
            <img src="{{ MEDIA_URL }}/media/{{ company.img_bus }}" alt="{{ company.name }} bus" />
          </div>
        </div>

      <div class="row">
          <div class="img_terminal col-md-6 col-sm-12 col-xs-12">
            <h3>Terminal en Cuenca</h3>
            <img src="{{ MEDIA_URL }}/media/{{ company.img_terminal }}" alt="{{ company.name }} bus" />
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <h3>Mapa de Terminal</h3>
            <iframe src="{{ company.terminal_map }}"
            width="300" height="200" frameborder="0" style="border:0"
            allowfullscreen></iframe>
          </div>      </div>


      </div> <!-- left-main -->




{% block content %}{% endblock content %}


      <!--==== end of Main content block ====-->






      <!--==== Additional right content block ====-->
      <div class="additional col-md-2 col-sm-4 col-xs-12 ">

{% include "core/additional_right.html" %}

      </div>
      <!--==== end of Additional content block ====-->

    </div> <!-- main-row main-main row -->

<!-- ===================================================================== -->


{% endblock all-main %}


