{% extends 'core/add_contacts.html' %}

{% load crispy_forms_tags %}
{% block maintitle %}
    <h1>Contactos</h1>
{% endblock maintitle %}

{% block content %}
    <div class="">
        {% if not user.username %}
            <h3>Bienvenidos, la Visita  estimada!  </h3>
        {% else %}
            <h3>Bienvenidos, el usuario estimado, {{ user.username }}!</h3>
        {% endif %}

        <p class="back_message">
            Gracias por su empleo de nuestra sistema de información. Trabajamos para hacer su mundo un poco mas cómodo.
        </p>
        <p class="back_message">
            Si tiene recomendaciones o deseos como mejorar los servicios de este sitio web, deja aqui su mensaje.
        </p>


{#        <p class="back_message">#}
{#            Thank you for usage of our informational system. We work to make your world a little bit more comfortable.#}
{#            Спасибо за обращение к нашей информационной системе. Мы стараемся сделать для Вас мир немножко удобнее.#}
{#        </p>#}
{#        <p class="back_message">#}
{#            If you have any recomendations or desires how to improve this service, put here your message please.#}
{#            Если у Вас есть рекомендации и пожелания по улучшению работы сайта, оставьте здесь Ваше сообщение.#}
{#        </p>#}


        {% if not user.username %}
            <h3>
                Por favor,
                <a href="/login">entra su login o registra</a>
                para escribir su recomendaciones.
            </h3>
        {% endif %}


    </div>



    {% if not user.username %}
        <h3>Bienvenidos, la Visita  estimada:  </h3>

    {% else %}
        <h3>Escribe aquí su mensaje.</h3>
        <form method="post" class="reg_login">
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-info">Enviar el mensaje</button>
        </form>

    {% endif %}

{% endblock %}