  <!--==== Header with Navigation ====-->

  <!--==== SingUp Modal included ====-->
{% include "core/signinup-modal.html" %}

  <!-- <div class="navbar navbar-default navbar-size navbar-fixed-top" role="navigation"> -->
  <div class="navbar navbar-default navbar-size" role="navigation">
      <div class="row clogan">
          <span class="col-lg-9 header_clogan clogan">Toda la información para la Vida de Usted</span>
          <span class="col-lg-3 align-right nav_login">Bienvenidos,

            {% if not user.username %}
                <a href="/login">la Visita >> Entrar</a>
            {% else %}
                <a href="/logout">{{ user.username }} >> Salir</a>
            {% endif %}


{#              <a href="#">Singup</a>#}
          </span>
      </div>
{#    <span class="header_clogan">Toda la información para la Vida de Usted</span>#}
{#      <span class="header_clogan">Welcome, Guest</span>#}
    
    <div class="container navbar-container">
      <a  href="/"><span  class="brand-link"></span></a>
     
      <!-- Brand and toggle get grouped for better mobile display -->
      <div  id="top" class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/"><p>Cuenca InterBus</p></a>
      </div> <!-- /.navbar-header -->

      <!-- Here are nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav    navbar-right">
          <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp &nbsp Inicio</a></li>
          <li><a href="/schedule"><span class="glyphicon glyphicon-random"></span>&nbsp &nbsp Horario</a></li>
          <li><a href="/company_list"><span class="glyphicon glyphicon-star"></span>&nbsp &nbsp Cooperativas</a></li>
{#          <li><a href="/"><span class="glyphicon glyphicon-heart"></span>&nbsp &nbsp Proyecto</a></li>#}
          <li><a href="/contacts"><span class="glyphicon glyphicon-envelope"></span>&nbsp &nbsp Contactos</a></li>
          <li class="modal-form">
{#            <a class="cd-signin" href="#0"><span class="glyphicon glyphicon-user"></span></a>#}
{#            <a class="signin" href="/login"><span class="glyphicon glyphicon-user"></span></a>#}
          </li>
        </ul>   

{#        <form class="navbar-form navbar-right" role="search">#}
{#          <div class="input-group">#}
{#            <input type="text" class="form-control" placeholder="Введите текст..."/>#}
{#            <span class="input-group-btn">#}
{#              <button type="reset" class="btn btn-default reset-btn">#}
{#                <span class="glyphicon glyphicon-remove">#}
{#                  <span class="sr-only">Close</span>#}
{#                </span>#}
{#              </button>#}
{#              <button type="submit" class="btn btn-default btn-search">#}
{#                <span class="glyphicon glyphicon-search">#}
{#                  <span class="sr-only">Search</span>#}
{#                </span>#}
{#              </button>#}
{#            </span>#}
{#          </div> <!-- /.input-group -->#}
{#        </form>#}
      </div><!-- /.collapse navbar-collapse" -->
    </div><!-- /.navbar-container -->
  </div>

  <!--==== end of Header with Navigation ====-->
