{% extends 'core/base.html' %}
{#  <script src="{% static 'js/ajax_left_filter.js' %}"></script>#}
{#{% endblock  %}#}
{% block maintitle %}
      <h1>Los Buses Interprovinciales con Cuenca</h1>
{% endblock maintitle %}

{% block all-main %}

    <div class="main-row main-main row">

      <!--==== Main content block ====-->

{#================== Additional left content block ======================    #}

      <div class="additional col-md-2 col-sm-4 col-xs-12 ">
{% include "core/add_left_companies.html" %}
      </div>
      <!--==== end of Additional content block ====-->
{#=========================================    #}
{% include "core/index_ajax.html" %}

{% block content %}{% endblock content %}


      <!--==== end of Main content block ====-->






      <!--==== Additional right content block ====-->
      <div class="additional col-md-2 col-sm-4 col-xs-12 ">

{% include "core/additional_right.html" %}

      </div>
      <!--==== end of Additional content block ====-->

    </div> <!-- main-row main-main row -->

<!-- ===================================================================== -->


{% endblock all-main %}