<div class="left-main page-content col-md-8 col-sm-8 col-xs-12">

  <div class=" row">
    <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
      <h2>Inicia su Busca de Ruta y Cooperativa</h2>
    </div>
  </div>
  <div class=" row">
    <div class="categoria-img col-md-6 col-sm-12 col-xs-12">
      <ul class="nav navbar-nav    navbar-right">
        <li><a href="/schedule/from/"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp &nbsp De Cuenca</a></li>
        <li><a href="/schedule/to/"><span class="glyphicon glyphicon-arrow-down"></span>&nbsp &nbsp Hacia Cuenca</a></li>
      </ul>
    </div>
  </div>

  <div class=" row">
    <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
    <br>
    <br>
      <h3>Lista de Rutas Principales por Cooperativas</h3>
    <br>
    </div>
  </div>
        <div class=" row">
          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
            <div>
             <table class="trips">
              <tr>
                <th>Ruta</th>
                <th>Logo</th>
                <th>Cooperativa</th>
              </tr>
              {% for route in routes %}
                <tr>
                  <td><a href="">{{ route.route_name }}</a></td>


{#                  <td>#}
{#                        {% if route.to_end != 'Cuenca' %}#}
{#                            <a href="#comp_routes">{{ route.to_end }}#}
{#                            {% if route.stopover %}#}
{#                              (via {{ route.stopover }})#}
{#                            {% elif route.stopover2 %}#}
{#                              (via {{ route.stopover }}-{{ route.stopover2 }})#}
{#                            {% endif %}#}
{#                          </a>#}
{#                        {% endif %}#}
{#                  </td>#}

                  <td class="logo-img"><a href="{{ route.company.get_absolute_url }}">
                    <img src="{{ MEDIA_URL }}/media/{{ route.company.logo }}"  title="{{ route.company.name }}" />
                  </td>
                  <td><a href="{{ route.company.get_absolute_url }}">{{ route.company.name }}</a></td>
                </tr>
              {% endfor %}
              </table>
            </div>
          </div>
        </div>`


{#  <div class=" row">#}
{#    <div class="categoria-img col-md-12 col-sm-12 col-xs-12">#}
{#    <br>#}
{#    <br>#}
{#      <h4>Lista de Rutas Principales</h4>#}
{#        {% if routes %}#}
{#            <ul>#}
{#                {% for route in routes %}#}
{#                  <li> <a href="">{{ route.route_name }}</a>{{ route.company.name }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
        {#  In case no company exists.  #}
{#        {% else %}#}
{#        <h3> No route found.</h3>#}
{#        {% endif %}#}
{#    </div>#}
{#  </div>#}

{#  <div class=" row">#}
{#    <div class="categoria-img col-md-12 col-sm-12 col-xs-12">#}
{#    <br>#}
{#    <br>#}
{#      <h4>Lista de Cooperativas </h4>#}
{#        {% if companies %}#}
{#            <ul>#}
{#                {% for company in companies %}#}
{#                  <li> <a href="{{ company.get_absolute_url }}">{{ company.name }}</a> {{ company.prename }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
        {#  In case no company exists.  #}
{#        {% else %}#}
{#        <h3> No company found.</h3>#}
{#        {% endif %}#}
{#    </div>#}
{#  </div>#}



</div> <!-- left-main -->

