{% extends 'core/base.html' %}
{% load staticfiles %}

{% block all-main %}

    <div class="main-row main-main row">

      <!--==== Main content block ====-->

{#================== Additional left content block ======================    #}
{% load staticfiles %}
{% load static %}

      <div class="additional col-md-2 col-sm-4 col-xs-12 ">
{% include "core/additional_left.html" %}
      </div>
      <!--==== end of Additional content block ====-->
{#=========================================    #}




      <div class="left-main page-content col-md-8 col-sm-8 col-xs-12">

        <table class="trips">
          <tr>
           <th>Cooperativa</th>
           <th>Ruta</th>
           <th>Horario</th>
           <th>Tiempo</th>
           <th>Precio</th>
          </tr>

          {% for trip in trips %}
            <tr>
              <td>{{ trip.route.company.name }}</td>
              <td>{{ trip.route.route_name }}</td>
              <td class="right">{{ trip.start_time }}</td>
              <td class="right">{{ trip.route.duration }}</td>
              <td>${{ trip.route.price }}</td>
            </tr>
          {% endfor %}
        </table>




{#======================= Table variants ===============================#}
{#<table class="trips">#}
{#   <tr>#}
{#     <th>Cooperativa</th>#}
{#     <th>Ruta</th>#}
{#     <th>Horario</th>#}
{#     <th>Tiempo</th>#}
{#     <th>Precio</th>#}
{#   </tr>#}
{##}
{#  {% for company in companies %}#}
{#    {{ company.name }}: {{ company.prename }}: {{ routes.company }}<br /><br />#}
{##}
{#        {% for route in routes %}#}
{#          {% if route.company == company %}#}
{#            {% for trip in trips %}#}
{#              {% if trip.route == route %}#}
{#    <tr>#}
{#      <td>{{ company.name }}</td>#}
{#      <td>{{ route.route_name }}</td>#}
{#      <td class="right">{{ trip.start_time }}</td>#}
{#      <td class="right">{{ route.duration }}</td>#}
{#      <td>${{ route.price }}</td>#}
{#    </tr>#}
{#              {% endif %}#}
{#            {% endfor %}#}
{#          {% endif %}#}
{#        {% endfor %}#}
{#      {% endfor %}#}
{#</table>#}


{#<table>#}
{##}
{#  {% for company in companies %}#}
{#    {{ company.name }}: {{ company.prename }}: {{ routes.company }}<br /><br />#}
{##}
{#        {% for route in routes %}#}
{#          {% if route.company == company %}#}
{#            {% for trip in trips %}#}
{#              {% if trip.route == route %}#}
{#    <tr>#}
{#      <td>{{ company.name }}</td>#}
{#      <td>{{ route.route_name }}</td>#}
{#      <td>{{ route.duration }}</td>#}
{#      <td>{{ route.price }}</td>#}
{#      <td>{{ trip.route }}</td>#}
{#      <td>{{ trip.start_time }}</td>#}
{#    </tr>#}
{#              {% endif %}#}
{#            {% endfor %}#}
{#          {% endif %}#}
{#        {% endfor %}#}
{#      {% endfor %}#}
{#</table>#}


{#      {% for company in companies %}#}
{#        <br />{{ company.name }}: {{ company.prename }} <br />#}
{#        {% for route in routes %}#}
{#          {% if route.company == company %}#}
{#            {{ route.route_name }} == {{ route.duration }} == {{ route.price }}<br />#}
{#            {% for trip in trips %}#}
{#              {% if trip.route == route %}#}
{#                {{ trip.route }}: {{ trip.start_time }}<br />#}
{#              {% endif %}#}
{#            {% endfor %}#}
{#          {% endif %}#}
{#        {% endfor %}#}
{#      {% endfor %}#}






{#========================== Center module from CuencaInfo =====================================      #}
{#        <div class=" row">#}
{#          <!-- <div class="categoria-img col-md-6 col-sm-12 col-xs-12"> -->#}
{#          <div class="categoria-img col-md-4 col-sm-12 col-xs-12">#}
{#            <a href="/transport">#}
{#              <dir class="img-box leftimg img-rounded">#}
{#                <p class="description">#}
{#                  Transporte#}
{#                </p>#}
{#                <img class="img-rounded" src="{% static "img/avion.jpeg" %}"  alt="Transporte aéreo">#}
{#              </dir>#}
{#            </a>#}
{#          </div>#}
{#          <div class="categoria-img col-md-4 col-sm-12 col-xs-12">#}
{#            <a href="/transport">#}
{#              <dir class="img-box leftimg img-rounded">#}
{#                <p class="description">#}
{#                  Servicios#}
{#                </p>#}
{#                <img class="img-rounded" src="{% static "img/bus_interurbano.jpg" %}"  alt="Buses interurbanos">#}
{#              </dir>#}
{#            </a>#}
{#          </div>#}
{#          <div class="categoria-img col-md-4 col-sm-12 col-xs-12">#}
{#            <a href="/transport">#}
{#              <dir class="img-box leftimg img-rounded">#}
{#                <p class="description">#}
{#                  Medicina#}
{#                </p>#}
{#                <img class="img-rounded" src="{% static "img/bus_urbano.jpeg" %}"  alt="Buses urbanos">#}
{#              </dir>#}
{#            </a>#}
{#          </div>#}
{#        </div>#}
{##}
{#        <div class=" row">#}
{#          <!-- <div class="categoria-img col-md-6 col-sm-12 col-xs-12"> -->#}
{#          <div class="categoria-img col-md-4 col-sm-12 col-xs-12">#}
{#            <a href="/transport">#}
{#              <dir class="img-box leftimg img-rounded">#}
{#                <p class="description">#}
{#                  Animales#}
{#                </p>#}
{#                <img class="img-rounded" src="{% static "img/tranvia.jpeg" %}"  alt="Петли как надо">#}
{#              </dir>#}
{#            </a>#}
{#          </div>#}
{#          <div class="categoria-img col-md-4 col-sm-12 col-xs-12">#}
{#            <a href="/transport">#}
{#              <dir class="img-box leftimg img-rounded">#}
{#                <p class="description">#}
{#                  Servicios Municipales#}
{#                </p>#}
{#                <img class="img-rounded" src="{% static "img/taxi.jpg" %}"  alt="Петли как надо">#}
{#              </dir>#}
{#            </a>#}
{#          </div>#}
{#          <div class="categoria-img col-md-4 col-sm-12 col-xs-12">#}
{#            <a href="/transport">#}
{#              <dir class="img-box leftimg img-rounded">#}
{#                <p class="description">#}
{#                  Hoteles#}
{#                </p>#}
{#                <img class="img-rounded" src="{% static "img/tran_cargo.jpeg" %}"  alt="Петли как надо">#}
{#              </dir>#}
{#            </a>#}
{#          </div>#}
{#        </div>#}
{#======================================================#}



      </div> <!-- left-main -->



{% block content %}{% endblock content %}


      <!--==== end of Main content block ====-->






      <!--==== Additional right content block ====-->
      <div class="additional col-md-2 col-sm-4 col-xs-12 ">

{% include "core/additional_right.html" %}

      </div>
      <!--==== end of Additional content block ====-->

    </div> <!-- main-row main-main row -->

<!-- ===================================================================== -->


{% endblock all-main %}


