{% extends 'core/base.html' %}
{% load staticfiles %}

{% block maintitle %}
      <h1>Horario de buses Interprovinciales</h1>
{% endblock maintitle %}
{% block all-main %}

    <div class="main-row main-main row">

      <!--==== Main content block ====-->

{#================== Additional left content block ======================    #}
{% load staticfiles %}
{% load static %}

      <div class="additional col-md-2 col-sm-4 col-xs-12 ">
{% include "core/additional_left.html" %}
      </div>
      <!--==== end of Additional content block ====-->
{#=========================================    #}



      <div class="left-main page-content col-md-8 col-sm-8 col-xs-12">
        <div class=" row">
          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
            <ul class="navbar-nav  nav   navbar-left schedule_button">
              <li><a id="schedule_from"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp &nbsp De Cuenca</a></li>
              <li><a id="schedule_to"><span class="glyphicon glyphicon-arrow-down"></span>&nbsp &nbsp Hacia Cuenca</a></li>
            </ul>
          </div>
          <div class="categoria-img col-md-6 col-sm-12 col-xs-12">
          </div>
        </div>
{#        <div class=" row">#}
{#          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">#}
{#            <ul class="nav navbar-nav    navbar-left">#}
{#              <li><a href="/schedule/from/"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp &nbsp De Cuenca</a></li>#}
{#              <li><a href="/schedule/to/"><span class="glyphicon glyphicon-arrow-down"></span>&nbsp &nbsp Hacia Cuenca</a></li>#}
{#            </ul>#}
{#          </div>#}
{#          <div class="categoria-img col-md-6 col-sm-12 col-xs-12">#}
{#          </div>#}
{#        </div>#}
        <br />
        <div id="schedule_table">
          {% include "core/ajax_schedule_table.html" %}
        </div>

{#        <div class="row">#}
{#          <table class="trips">#}
{#            <tr>#}
{#             <th>Cooperativa</th>#}
{#             <th>Ruta</th>#}
{#             <th>Horario</th>#}
{#             <th>Tiempo</th>#}
{#             <th>Precio</th>#}
{#            </tr>#}
{##}
{#            {% for trip in trips | trip.route.to_end == 'Cuenca' %}#}
{#            {% for trip in trips %}#}
{#              {% if trip.route.to_end == 'Cuenca' %}#}
{#              <tr>#}
{#                <td class="logo-img"><a href="{% url 'company_details' trip.route.company.id %}">#}
{#                  <img src="{{ MEDIA_URL }}/media/{{ trip.route.company.logo }}" alt="{{ trip.route.company.name }}" title="{{ trip.route.company.name }}"/>#}
{#                </td>#}
{#                <td>{{ trip.route.company.name }}</td>#}
{#                <td>{{ trip.route.route_name }}</td>#}
{#                <td>{{ trip.route.route_name_compose }}</td>#}
{#                <td class="right">{{ trip.start_time }}</td>#}
{#                <td class="right">{{ trip.route.duration }}</td>#}
{#                <td>${{ trip.route.price }}</td>#}
{#              </tr>#}
{#              {% endif %}#}
{#            {% endfor %}#}
{#          </table>#}
{#        </div>#}





      </div> <!-- left-main -->


{% block content %}{% endblock content %}


      <!--==== end of Main content block ====-->






      <!--==== Additional right content block ====-->
      <div class="additional col-md-2 col-sm-4 col-xs-12 ">

{% include "core/additional_right.html" %}

      </div>
      <!--==== end of Additional content block ====-->

    </div> <!-- main-row main-main row -->

<!-- ===================================================================== -->


{% endblock all-main %}


