  <!--==== Submenu Row included ====-->
    <div class="main-row submenu-page row">

      <div class="hierarchy col-md-9 col-sm-9 col-xs-12">
        <span class="icon-bar"><a href="/">
            <span class="icon-bar glyphicon glyphicon-home"></span></a> >>
        </span>
        <span class="icon-bar"><a href="/#manual_map_title">Учимся вязать</a> >></span>
        <!-- <span class="icon-bar"><a href="#">Спицами</a>  >></span> -->
        <span class="icon-bar"><a href="#">Основы вязания спицами</a> >></span>
        <span class="icon-bar"><span>Набор петель</span> <<</span>
      </div> <!-- hierarchy -->
      
      <div class="page-navigator col-md-3 col-sm-3 col-xs-12">
        <div class="row">            
          <ul class="navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-triangle-bottom">
                  <!-- <span class="sr-only">Page navigator</span> -->
                </span>
                <span class="navigator-but-name">Навигатор раздела
                </span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Простой набор петель</a></li>
                <li><a href="#">Итальянский набор петель</a></li>
                <li><a href="#">Еще какой-то набор петель</a></li>
                <li class="divider"></li>
                <li><a href="#">Набор петель по привычке</a></li>
                <li class="divider"></li>
                <li><a href="#">Новый набор петель</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

    </div> <!-- /.submenu-page row -->
  <!--==== end of Submenu Row ====-->