
{% extends 'core/base.html' %}
{% load staticfiles %}

{% block maintitle %}
      <h1>Terminal Terrestre de Cuenca</h1>
{% endblock maintitle %}

{% block all-main %}

    <div class="main-row main-main row">

      <!--==== Main content block ====-->

{#================== Additional left content block ======================    #}
{% load staticfiles %}
{% load static %}

      <div class="additional col-md-2 col-sm-4 col-xs-12 ">
{% include "core/additional_left.html" %}
      </div>
      <!--==== end of Additional content block ====-->
{#=========================================    #}



      <div class="left-main page-content col-md-8 col-sm-8 col-xs-12">


        <div class=" row">
          <div class="col-md-6 col-sm-12 col-xs-12">
{#            <img src="{{ MEDIA_URL }}/media/{{ company.logo }}" alt="{{ company.name }} logo" />#}
            <img src="{% static "img/terminal-terrestre-de-cuenca-ecuador.jpg" %}" alt="Terminal Terrestre" title="Terminal Terrestre"/>

          </div>
          <div class="categoria-img col-md-6 col-sm-12 col-xs-12">

          </div>
        </div>


        <div class=" row">
{#          <h1>Terminal Terrestre de Cuenca</h1>#}
          <div class="categoria-img col-md-6 col-sm-12 col-xs-12">

          </div>
          <div class="categoria-img col-md-6 col-sm-12 col-xs-12">

          </div>
        </div>

        <div class=" row">
          <h1>Rutas y Cooperativas</h1>
          <div class="categoria-img col-md-6 col-sm-12 col-xs-12">

          </div>
          <div class="categoria-img col-md-6 col-sm-12 col-xs-12">

          </div>
        </div>

        <div class=" row">
          <h1>Como llegar</h1>
          <div class="contacts col-md-6 col-sm-12 col-xs-12">
            <h3>Contactos</h3>
            <div>Página web: <a href="{{ company.website }}">{{ company.website }}</a></div>
            <div>Correo: {{ company.email }}</div>
{#            {% if company.terminal != "Terminal Terrestre" %}#}
            {% if company.is_terminal_terrestre %}
              <div>Terminal: <a href="/terminal_terrestre/"> Terminal Terrestre</a></div>
            {% else %}
              <div>Terminal: {{ company.terminal }} ({{ company.office_address }})</div>
            {% endif %}
{#            <div>Oficina: {{ company.office_address }}</div>#}
{#            <div>Horas de trabajo: {{ company.office_opening }} - {{ company.office_closing }}</div>#}
            <div>Teléfono: {{ company.phone }}</div>
            <div>Teléfono2: {{ company.phone2 }}</div>
            <div>Boletería: {{ company.phone_tickets }}</div>
            <div>Encomiendas: {{ company.phone_help }}</div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <h3>Mapa de Terminal </h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!
                          1d3984.7379463000043!2d-78.99470680901487!3d-2.891711809752653!
                          3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7cbd5e0382bd25c!
                          2sTerminal+Terrestre!5e0!3m2!1sru!2sru!4v1498481091113"
            width="300" height="200" frameborder="0" style="border:0"
            allowfullscreen></iframe>
          </div>
        </div>



      </div> <!-- left-main -->



{% block content %}{% endblock content %}


      <!--==== end of Main content block ====-->






      <!--==== Additional right content block ====-->
      <div class="additional col-md-2 col-sm-4 col-xs-12 ">

{% include "core/additional_right.html" %}

      </div>
      <!--==== end of Additional content block ====-->

    </div> <!-- main-row main-main row -->

<!-- ===================================================================== -->


{% endblock all-main %}


