{% extends 'v2/base.html' %}
{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}

{% block header %}
  <!--==== Header included ====-->
  {% include "v2/includes/secondary_header.html" %}
{% endblock header %}
{% block navigation %}
  <!--==== Navigation line included ====-->
  {% include "v2/includes/main_navigation.html" %}
{% endblock navigation %}


{% block content %}
  <!--==== Content ====-->

  <!-- Page Content -->
  <div class="container">

    <br>
    <div class="row pad_top_20">
      <!-- Main Content Column -->
      <div class="col-lg-8">
        <div class=" row">
          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
{#            <h1>Horario y descripcion de la cooperativa</h1>#}
            <div class="row">
              <div class="h2-logo col-md-4 col-sm-12 col-xs-12">
                <img src="{{ MEDIA_URL }}/media/{{ company.logo }}"
                     alt="Logo" title="{{ company.name }}"/>
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
            <h1 class="logo-img-2">{{ company.full_name }}</h1>
              </div>
            </div>
            <div class="rounded_box">
              <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12">
                  <h2>Horario</h2>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                  <ul class="nav navbar-nav    navbar-right">
                    <li><a href="{% url 'company_list' %}">
                      <span class="glyphicon glyphicon-arrow-left"></span>
                      &nbsp &nbsp Todas Cooperativas</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <table class="trips">
                    <tr>
                     <th>Ruta</th>
                     <th>Distancia</th>
                     <th>Horario</th>
                     <th>Tiempo</th>
                     <th>Precio</th>
                    </tr>
                    {% for trip in trips %}
                      <tr>
                        <td>{{ trip.route.route_name_compose }}</td>
                        <td class="right">{{ distance }}</td>
                        <td class="right">{{ trip.start_time }}</td>
                        <td class="right">{{ trip.route.duration }}</td>
                        <td>${{ trip.route.price }}</td>
                      </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            {#================= Company Contacts and Map in Cuenca ==============#}
            <div class="company_contacts rounded_box">
              <h2>Contactos</h2>
              <div class="row">
                <div class="contacts col-md-6 col-sm-12 col-xs-12">
                  <div>Página web:
                    <a href="{{ company.website }}">{{ company.website }}</a>
                  </div>
                  <div>Correo: {{ company.email }}</div>
                  {% if company.is_terminal_terrestre %}
                    <div>Terminal: <a href="{% url 'terminal_terrestre' %}">
                      Terminal Terrestre</a>
                    </div>
                  {% else %}
                    <div>Terminal:
                      <a href="{% url 'company_details' company.id %}#terminal">
                        {{ company.office_address }}</a>
                    </div>
                  {% endif %}
                  <div>Oficina en Cuenca: {{ company.office_address }}</div>
                  <div>Teléfono: {{ company.phone }}</div>
                  <div>Teléfono2: {{ company.phone2 }}</div>
                  <div>Boletería: {{ company.phone_tickets }}</div>
                  <div>Encomiendas: {{ company.phone_help }}</div>
                </div>
                <div class="img_bus col-md-6 col-sm-12 col-xs-12">
                  <img src="{{ MEDIA_URL }}/media/{{ company.img_bus }}"
                                            alt="{{ company.name }} bus" />
                </div>
              </div>
            </div>

            <div class="company_contacts rounded_box">
              {% if company.is_terminal_terrestre %}
                <h2 id="terminal">Terminal Terrestre en Cuenca</h2>
                <div class="row">
                  <div class="img_terminal col-md-6 col-sm-12 col-xs-12">
                    <img class="terminal_home"
                        src="{% static 'v2/img/terminal-terrestre-de-cuenca-ecuador.jpg' %}"
                        alt="Terminal Terrestre de Cuenca. Entrada principal."
                        title="Terminal Terrestre de Cuenca. Entrada principal.">
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!
                        1d3984.7379463000043!2d-78.99470680901487!3d-2.891711809752653!
                        3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7cbd5e0382bd25c!
                        2sTerminal+Terrestre!5e0!3m2!1sru!2sru!4v1498481091113"
                        width="300" height="200" frameborder="0" style="border:0"
                    allowfullscreen></iframe>
                  </div>
                </div>
              {% else %}
                <h2 id="terminal">Oficina Privada en Cuenca</h2>
                <div class="row">
                  <div class="img_terminal col-md-6 col-sm-12 col-xs-12">
                      <img src="{{ MEDIA_URL }}/media/{{ company.img_terminal }}"
                           alt="Terminal" />
                  </div>
                  <div class="col-md-6 col-sm-12 col-xs-12">
                    {% if company.terminal_map %}
                       <iframe src="{{ company.terminal_map }}"
                      width="300" height="200" frameborder="0" style="border:0"
                      allowfullscreen></iframe>
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <hr>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        {% include "v2/includes/side_company_list.html" %}
        {% include "v2/includes/side_calendar.html" %}
      </div>
    </div><!-- /.row -->

  {% block footer %}
    {% include "v2/includes/main_footer.html" %}
  {% endblock footer %}

</div><!-- /.container -->

{% endblock content %}
