{% extends 'v2/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
  <!--==== Header included ====-->
  {% include "v2/includes/secondary_header.html" %}
{% endblock header %}
{% block navigation %}
  <!--==== Navigation line included ====-->
  {% include "v2/includes/main_navigation.html" %}
{% endblock navigation %}

{% block content %}
  <!--==== Content ====-->

  <!-- Page Content -->
  <div class="container">

    <br>
    <div class="row pad_top_20">
      <!-- Main Content Column -->
      <div class="col-lg-8">
        <div class=" row">
          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
                <h1>Contáctenos</h1>
            <div class="rounded_box">
              <div class="">
                  {% if not user.username %}
                      <h2>Bienvenidos, la Visita  estimada!  </h2>
                  {% else %}
                      <h2>Bienvenidos, el usuario estimado, {{ user.username }}!</h2>
                  {% endif %}

                  <p class="back_message">
                      Gracias por su empleo de nuestra sistema de información. Trabajamos para hacer su mundo un poco mas cómodo.
                  </p>
                  <p class="back_message">
                      Si tiene recomendaciones o deseos como mejorar los servicios de este sitio web, deja aqui su mensaje.
                  </p>

                  {% if not user.username %}
                      <h3>
                          Por favor,
                          <a href="/login">entra su login o registra</a>
                          para escribir su recomendaciones.
                      </h3>
                  {% endif %}
              </div>

              {% if not user.username %}
          {#        <h3>Bienvenidos, la Visita  estimada:  </h3>#}
              {% else %}
                  <h3>Escribe aquí su mensaje.</h3>
                  <form method="post" class="reg_login">
                      <input type="hidden" name="next" value="{{ next }}" />
                      {% csrf_token %}
                      {{ form|crispy }}
                      <br>
                      <button type="submit" class="btn btn-info">Enviar el mensaje</button>
                  </form>
              {% endif %}

            </div>
          </div>
        </div>
        <hr>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        {% include "v2/includes/side_calendar.html" %}
      </div>
    </div><!-- /.row -->

  {% block footer %}
    {% include "v2/includes/main_footer.html" %}
  {% endblock footer %}

</div>
<!-- /.container -->

{% endblock content %}
