{% extends 'v2/base.html' %}
{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}

{% block header %}
  <!--==== Header included ====-->
  {% include "v2/includes/secondary_header.html" %}
{% endblock header %}
{% block navigation %}
  <!--==== Navigation line included ====-->
  {% include "v2/includes/main_navigation.html" %}
{% endblock navigation %}

{% block content %}
  <!--==== Content ====-->

  <!-- Page Content -->
  <div class="container">
    <br>
    <div class="row pad_top_20">

      <!-- Main Content Column -->
      <div class="col-lg-8">
        <h1>Mapa de Rutas Principales en Ecuador</h1>
        <div class=" row">
          <div class="terminal_page col-md-12 col-sm-12 col-xs-12">
            <img src="{% static "v2/img/detailed_physical_map_of_ecuador_with_roads.jpg" %}"
                 alt="Terminal Terrestre" title="Terminal Terrestre"/>
          </div>
        </div>
        <hr>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        {% include "v2/includes/side_routes_list.html" %}
        {% include "v2/includes/side_calendar.html" %}
      </div>
    </div><!-- /.row -->

  {% block footer %}
    {% include "v2/includes/main_footer.html" %}
  {% endblock footer %}

</div>
<!-- /.container -->

{% endblock content %}



