{% extends 'v2/base.html' %}
{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}

{% block header %}
  <!--==== Header included ====-->
  {% include "v2/includes/secondary_header.html" %}
{% endblock header %}
{% block navigation %}
  <!--==== Navigation line included ====-->
  {% include "v2/includes/main_navigation.html" %}
{% endblock navigation %}

{% block content %} <!--==== Content ====-->
  <!-- Page Content -->
  <div class="container">
    <br>
    <div class="row pad_top_20">
      <!-- Main Content Column -->
      <div class="col-lg-8">
        <div class=" row">
          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
                <h1>Horario de Buses Interprovinciales</h1>
            <div id="schedule_table" class="rounded_box">
              {% include "v2/includes/main_schedule_table.html" %}
            </div>
          </div>
        </div>
        <hr>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
{#        {% include "v2/includes/anywhere_time.html" %}#}
{#        {% include "v2/includes/anywhere_x_time_date.html" %}#}
        {% include "v2/includes/side_route_filter.html" %}
        {% include "v2/includes/side_company_list.html" %}
        {% include "v2/includes/side_calendar.html" %}
{#        {% include "v2/includes/www_something_else.html" %}#}
      </div>
    </div><!-- /.row -->

  {% block footer %}
    {% include "v2/includes/main_footer.html" %}
  {% endblock footer %}

</div><!-- /.container -->
{% endblock content %}



