{% extends 'v2/base.html' %}
{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}


{% block header %}
  <!--==== Header included ====-->
  {% include "v2/includes/secondary_header.html" %}
{% endblock header %}
{% block navigation %}
  <!--==== Navigation line included ====-->
  {% include "v2/includes/main_navigation.html" %}
{% endblock navigation %}

{% block content %}
  <!--==== Content ====-->

  <!-- Page Content -->
  <div class="container">
    <br>
    <div class="row pad_top_20">

      <!-- Main Content Column -->
      <div class="col-lg-8">
        <h1>Terminal Terrestre</h1>
        <div class=" row">
          <div class="terminal_page col-md-12 col-sm-12 col-xs-12">
            <img src="{% static "img/terminal-terrestre-de-cuenca-ecuador.jpg" %}"
                 alt="Terminal Terrestre" title="Terminal Terrestre"/>
          </div>
        </div>
        <div class="row">
          <div class="img_terminal col-md-6 col-sm-12 col-xs-12">
          </div>
          <div class="google_map col-md-6 col-sm-12 col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!
                        1d3984.7379463000043!2d-78.99470680901487!3d-2.891711809752653!
                        3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7cbd5e0382bd25c!
                        2sTerminal+Terrestre!5e0!3m2!1sru!2sru!4v1498481091113"
            width="300" height="200" frameborder="0" style="border:0"
            allowfullscreen></iframe>
          </div>
        </div>
        <div class="notes">
          ** Casi todos buses interprovinciales salen del Terminal Terrestre
        </div>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        {% include "v2/includes/side_company_list.html" %}
        {% include "v2/includes/side_calendar.html" %}
      </div>
    </div><!-- /.row -->

  {% block footer %}
    {% include "v2/includes/main_footer.html" %}
  {% endblock footer %}

</div>
<!-- /.container -->

{% endblock content %}



