{#=============== Time ================#}
  <div class="rounded_box">
    <div class="clock">
      <div class="align">
        <a><span class="time hours"></span></a> :
        <a><span class="time minutes"></span></a> :
        <a><span class="time seconds"></span></a>
        <a><span class="time year"></span></a>
      </div>
    </div>
  </div>

