<div class=" row">
  <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
    <div>
     <table class="trips">
      <tr>
        <th></th>
        <th>Cooperativa</th>
        <th>Rutas</th>
        <th>Bus Tipo</th>
        <th>Terminal</th>
{#          <th>Rating</th>#}
{#          <th>Refs</th>#}
      </tr>

      {% for company in companies %}
        <tr>
          <td class="logo-img"><a href="{{ company.get_absolute_url }}">
            <img src="{{ MEDIA_URL }}/media/{{ company.logo }}"
                 title="{{ company.name }}" /></a>
          </td>
          <td><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></td>
          <td>Rutas</td>
          {% if company.use_minibus %}
            <td>Minibus</td>
          {% else %}
            <td></td>
          {% endif %}
          {% if company.is_terminal_terrestre %}
            <td class=""><a href="{% url 'terminal_terrestre' %}">
              Terminal Terrestre</a></td>
          {% else %}
            <td class=""><a href="{% url 'company_details' company.id %}#terminal">
              Oficina Privada</a></td>
          {% endif %}

{#            <td class="right"><a href="{% url 'company_details' company.id %}">+3.5 (52)</a></td>#}
{#            <td><a href="{% url 'company_details' company.id %}">{{ company.comments | length }}</a></td>#}
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
</div>