    <header id="home_header">
        <div id="escudo_head" class="escudo_head"></div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active header-background-1" >
            <div class="carousel-caption d-none d-md-block">
              <h1 class="h1_header" style="text-align:left;">Cuenca Interbus
                <br>
{#                <small><a href="#"  class="h1_header_2"> Buses Interprovinciales</a></small>#}
                <small><span class="h1_header_2">Buses Interprovinciales</span></small>
              </h1>
{#              <h1><x-clock></x-clock></h1>#}
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item header-background-2">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="h1_header" style="text-align:left;">Cuenca Interbus</h1>
              <h1 class="h1_header"><x-clock></x-clock></h1>
{#              <p>This is a description for the second slide.</p>#}
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item header-background-3">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="h1_header" style="text-align:left;">Cuenca Interbus</h1>
              <h1 class="h1_header"><x-clock></x-clock></h1>
{#              <p>This is a description for the third slide.</p>#}
            </div>
          </div>

          <!-- Slide Four - Set the background image for this slide in the line below -->
          <div class="carousel-item header-background-4">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="h1_header" style="text-align:left;">Cuenca Interbus</h1>
              <h1 class="h1_header"><x-clock></x-clock></h1>
{#              <p>This is a description for the fourth slide.</p>#}
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators"
           role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators"
           role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>
