<!-- Navigation -->
<nav id='mNavbar'  class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    <div class="clock">
      <div class="x_nav_clock"><x-clock></x-clock></div>
      <div class="x_nav_date"><x-date></x-date></div>
    </div>

    <div id="escudo_nav" class="escudo_nav invissible clock_escudo"></div>

    <button class="navbar-toggler navbar-toggler-right"
            type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item first-li">
          <a class="nav-link"  href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'schedule' %}">Horario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'company_list' %}">Cooperativas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'routes_map' %}">Mapa de Rutas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="{% url 'feedback' %}">Contáctenos</a>
        </li>
        {% if request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'organizer' %}">Organizador</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
