<div class=" row">
  <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
    <h1>Lista de Rutas Principales con Cuenca</h1>

    <div class="rounded_box">
      <table class="trips">
        <tr>
          <th>Ruta</th>
          <th>Cooperativa</th>
          <th>Logo</th>
        </tr>
        {% for route in routes %}
          <tr>
            <td><a href="">{{ route.route_name }}</a></td>
            <td>
              <a href="{{ route.company.get_absolute_url }}">
                {{ route.company.name }}</a>
            </td>
            <td class="logo-img">
              <a href="{{ route.company.get_absolute_url }}">
                <img src="{{ MEDIA_URL }}/media/{{ route.company.logo }}"
                   title="{{ route.company.name }} logo"/></a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

