   <!-- Footer -->
{% load staticfiles %}
{% load static %}
<footer id="Footer" >

  <div class="row footer-copyright">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <p><a href="{% url 'schedule' %}">Información de Horario</a></p>
          <p><a href="{% url 'routes_map' %}">Mapa de Rutas</a></p>
          <p><a href="{% url 'company_list' %}">Cooperativas</a></p>
{#          <p><a href="{% url 'tours' %}">Viajes</a></p>#}
        </div>
        <div class="col-lg-6">
          <p><a href="{% url 'about_project' %}">Sobre este Proyecto</a></p>
{#          <p><a href="{% url 'faq' %}">FAQs</a></p>#}
          <p><a href="{% url 'feedback' %}">Contáctenos</a></p>
{#          <p><a href="{% url 'feedback' %}">Contáctenos</a></p>#}
        </div>
      </div>
    </div>

    <div class="col-lg-6 footer-column right">
      <div class="social-media">
        <p>
          <a href="http://www.facebook.com/CuencaInterBus" target="_blank">
            <img class="left" title=""
                 src="{% static 'v2/img/icons/ic_facebookIcon.png' %}"
                 alt="Facebook" width="27" height="27">
          </a>
          <a href="http://www.twitter.com/CuencaInterBus" target="blank">
            <img class="left" title=""
                 src="{% static 'v2/img/icons/ic_twitterIcon.png' %}"
                 alt="Facebook" width="27" height="27">
          </a>
          <a href="https://www.instagram.com/CuencaInterBus/" target="_blank">
            <img class="left" title=""
                 src="{% static 'v2/img/icons/instagram-icon.jpg' %}"
                 alt="Facebook" width="27" height="27">
          </a>
        </p>
      </div>
    </div>

  </div>
  <div class="row footer-copyright">
      <div class="col-lg-6">
        <p>Copyright © 2017 NuevaVida Estudio Ltd.</p>
      </div>
      <div class="col-lg-6 copyright-right">
          <p class="nav_login">Bienvenidos,

            {% if not user.username %}
                <a href="/login">la Visita >> Entrar</a>
            {% else %}
                <a href="/logout">{{ user.username }} >> Salir</a>
            {% endif %}


{#              <a href="#">Singup</a>#}
          </p>


{#        <p><a href="#">Ayuda</a></p>#}
{#        <p><a href="#">Mapa de Sitio Web</a></p>#}
      </div>
  </div>

</footer>
