<div>
  <table class="trips">
    <tr>
     <th>Cooperativa</th>
     <th>Ruta</th>
     <th>Salida</th>
     <th>Tiempo</th>
     <th>Precio</th>
    </tr>

    {% for trip in trips %}
      <tr>
        <td class="logo-img">
          <a href="{{ trip.route.company.get_absolute_url }}">
            <img src="{{ MEDIA_URL }}/media/{{ trip.route.company.logo }}" alt="{{ trip.route.company.name }}" title="{{ trip.route.company.name }}"/>
          </a>
        </td>
        <td>{{ trip.route.route_name_compose }}</td>
        <td class="right">{{ trip.start_time }}</td>
        <td class="right">{{ trip.route.duration }}</td>
        <td>${{ trip.route.price }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
