{% load static %}
<div id="Header" class="full_width">
  <div class="headerBranding">
    <a href="{% url 'index' %}" class="logo left">
      <div class="escudo_box">
        <img class="escudo_cuenca_head2"
          src="{% static 'v2/img/Escudo_de_Cuenca.png' %}"
          alt="Pagina inicial" title="Pagina inicial.">
      </div>
      <h1 class="header_h1">Cuenca Interbus</h1>
    </a>
    <h2 class="header_h2">Transporte de Ecuador</h2>
  </div>
</div>


