<div id="ajax_filter_form" class="filter_form ">

  <form id="filter_block" class="filter_ul rounded_box" method="post"
        action="{% url 'schedule' %}">
    <h2>Mi viaje eligido</h2>
    {% csrf_token %}
    <div class="row">
      {% for f in form %}
        <div class="filter_li col-lg-6">
              <div class="filter_label">{{ f.label }}</div>
              <span class="filter_value">{{ f }}</span>
        </div>
      {% endfor %}
    </div>
    <div class="filter_submit_box">
      <input id="filter_submit" class="filter_submit" type="submit" value="Elejir" />
    </div>
  </form>

</div>
