{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}

  <div class="rounded_box top_margin2">
    <h2>Cooperativas de Transporte</h2>
    <div class="company_list additional_list">
      {% if company_list %}
        <ul>
          {% for company in company_list %}
            <li>
              <a href="{{ company.get_absolute_url }}">{{ company.name }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>










