{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}

<div class="rounded_box top_margin2">
  <h2>Lista de Rutas con Cuenca</h2>
  <div class="company_list additional_list">
    {% if routes %}
      <ul>
        {% for route in routes %}
          <li><a href="{% url 'schedule' %}">{{ route.route_name }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>








