{% extends 'organizer/base_admin.html' %}
{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}

{% block header %}
  <!--==== Header included ====-->
  {% include "organizer/includes/admin_header.html" %}
{% endblock header %}
{% block navigation %}
  <!--==== Navigation line included ====-->
  {% include "organizer/includes/admin_navigation.html" %}
{% endblock navigation %}

{% block breadcrumb %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'index' %}">Inicio</a></li>
    <li>// Organizador</li>
  </ul>
{% endblock %}

{% block content %}
  <!--==== Content ====-->

  <!-- Page Content -->
  <div class="container">

    <br>
    <div class="row pad_top_20">
      <!-- Main Content Column -->
      <div class="col-lg-8">
        <div class=" row">
          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
                <h1>Organizador: Cooperativas de Transporte en Cuenca</h1>
            <div class="rounded_box">
              {% block schedule_table %}
                {% include "organizer/includes/org_companies_list.html" %}
              {% endblock schedule_table %}

            </div>
          </div>
        </div>
        <hr>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        {% include "v2/includes/side_calendar.html" %}
      </div>
    </div><!-- /.row -->

  {% block footer %}
    {% include "v2/includes/main_footer.html" %}
  {% endblock footer %}

</div>
<!-- /.container -->

{% endblock content %}
