<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load staticfiles %}
{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cuenca: Buses Interprovinciales </title>
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'vendor/air_datepicker/css/datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'v2/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'v2/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'v2/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'v2/css/footer.css' %}">

  </head>

  <body>
{% block header %}{% endblock header %}
{% block navigation %}{% endblock navigation %}
{% block breadcrumb %}{% endblock %}
{% block content %}{% endblock content %}

<a title="Real Time Web Analytics" href="http://clicky.com/101135250"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(101135250); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101135250ns.gif" /></p></noscript>

    <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery/jquery.raty.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/modernizr.js' %}"></script>
  {#  Simple clock #}
  <script src="{% static 'v2/js/simple_clock.js' %}"></script>
  {#  AirDatePicker vendor library #}
  <script src="{% static 'vendor/air_datepicker/js/datepicker.min.js' %}"></script>
  <script src="{% static 'vendor/air_datepicker/js/i18n/datepicker.es.js' %}"></script>
  {#  AirDatePicker config file #}
  <script src="{% static 'v2/js/air_datepicker_config.js' %}"></script>
  {#  Stickybar menu #}
  <script src="{% static 'v2/js/stiky_bar.js' %}"></script>

  {# AJAX route filter #}
  <script src="{% static 'v2/js/ajax_schedule_filter.js' %}"></script>

  {#  X-tag Clock and Date#}
  <script src="{% static 'vendor/x-tag_clock_date/x-tag-core.min.js' %}"></script>
  <script src="{% static 'vendor/x-tag_clock_date/clock_bs_digital.js' %}"></script>

  {#  Changing of the active menu button background #}
  <script type="text/javascript">
    $(document).ready(function(){
      var link = window.location.pathname;
      $('.navbar-nav li a[href="'+link+'"]').parent().addClass('active');
    });
  </script>
  </body>
</html>
