{% extends 'organizer/base_admin.html' %}
{% load staticfiles %}
{% load static %}
{% load itrans_tags %}
{% get_all_company_list_ordered_by_name as company_list %}

{% block header %}
  <!--==== Header included ====-->
  {% include "organizer/includes/admin_header.html" %}
{% endblock header %}
{% block navigation %}
  <!--==== Navigation line included ====-->
  {% include "organizer/includes/admin_navigation.html" %}
{% endblock navigation %}

{% block breadcrumb %}
  <ul class="breadcrumbs">
    <li><a href="{% url 'index' %}">Inicio</a></li>
    <li>// <a href="{% url 'organizer' %}">Organizador</a></li>
    <li>// <a href="{% url 'company_routes_organizer' company.id %}">Rutas de {{ company.name }}</a></li>
    {% if route.id %}
      <li>// Ruta "{{ route.route_full_name }}" ({{ route.code_full }}) </li>
    {% else %}
      <li>// Creación de ruta nueva </li>
    {% endif %}
  </ul>
{% endblock %}

{% block content %}
  <!--==== Content ====-->

  <!-- Page Content -->
  <div class="container">

    <br>
    <div class="row pad_top_20">
      <!-- Main Content Column -->
      <div class="col-lg-8">
        <div class=" row">
          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">

            <div class="row">
              <div class="h2-logo col-md-4 col-sm-12 col-xs-12">
                <img src="{{ MEDIA_URL }}/media/{{ company.logo }}"
                     alt="Logo" title="{{ company.name }}"/>
              </div>
              <div class="col-md-8 col-sm-12 col-xs-12">
            <h1 class="logo-img-2">{{ company.full_name }}</h1>
              </div>
            </div>


{#                <h1>Organizador: Horario sobre Cooperativa</h1>#}
            <div class="rounded_box">
              {% block schedule_table %}
                {% include "organizer/includes/main_org_update_company_route.html" %}
              {% endblock schedule_table %}

            </div>
          </div>
        </div>
        <hr>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        {% include "v2/includes/side_calendar.html" %}
      </div>
    </div><!-- /.row -->

  {% block footer %}
    {% include "v2/includes/main_footer.html" %}
  {% endblock footer %}

</div>
<!-- /.container -->

{% endblock content %}
