<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Simple is Better Than Complex{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
  </head>
  <body class="container">
    <header>
      <a href="{% url 'index' %}"><h1>Cuenca InterBus Portal</h1></a>

      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
        <a href="{% url 'change_password' %}">change password</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> / <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>