{% extends 'reguser/base.html' %}
<!--{% load crispy_forms_tags %}-->
{% block content %}
<h2>USER Reg Page</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-info">Save changes</button>
    </form>
{% endblock %}



