{% extends 'reguser/base.html' %}

{% block content %}
    <h2>USER Reg Page</h2>
  <h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
  <p>Your birth date: {{ user.profile.birth_date }}</p>
{% endblock %}