{#{% extends 'core/add_signin_up.html' %}#}
{% extends 'core/add_signin_up.html' %}

{% load crispy_forms_tags %}
{% block maintitle %}
      <h1>Login Page</h1>
{% endblock maintitle %}

{% block content %}

    {% if not user.username %}
        <h3>Welcome, Guest: Log in to Cuenca InterBus Portal</h3>

        <form method="post" class="reg_login">
            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-info">Log in</button>
            <a href="{% url 'signup' %}">New on This Site? Sign up.</a>
        </form>

    {% else %}
        <h3>Welcome, {{ user.username }}</h3>
    {% endif %}

{% endblock %}