{% extends 'core/add_signin_up.html' %}

{% load crispy_forms_tags %}
{% block maintitle %}
      <h1>Signup Page</h1>
{% endblock maintitle %}


{% block content %}

    <h3>Welcome, Guest: Signup to Cuenca InterBus Portal</h3>

    <form method="post" class="reg_login">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-info">Sign up</button>
        <a href="{% url 'login' %}">Are registered? Log in.</a>
    </form>

{% endblock %}