{% extends 'v2/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
  <!--==== Header included ====-->
  {% include "v2/includes/secondary_header.html" %}
{% endblock header %}
{% block navigation %}
  <!--==== Navigation line included ====-->
  {% include "v2/includes/main_navigation.html" %}
{% endblock navigation %}

{% block content %}
  <!--==== Content ====-->

  <!-- Page Content -->
  <div class="container">

    <br>
    <div class="row pad_top_20">

      <!-- Main Content Column -->
      <div class="col-lg-8">
        <div class=" row">
          <div class="categoria-img col-md-12 col-sm-12 col-xs-12">
            <h1>Login Page</h1>
            <div class="rounded_box">
              {% if not user.username %}
                  <h3>Welcome, Guest: Log in to Cuenca InterBus Portal</h3>
                  <form method="post" class="reg_login login_form">
                      <input type="hidden" name="next" value="{{ next }}" />
                      {% csrf_token %}
                      {{ form|crispy }}
                      <br>
                      <button type="submit" class="btn btn-info">Log in</button>
                      <a href="{% url 'signup' %}">New on This Site? Sign up.</a>
                  </form>
              {% else %}
                  <h3>Welcome, {{ user.username }}</h3>
              {% endif %}
            </div>
          </div>
        </div>
        <hr>
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
        {% include "v2/includes/side_calendar.html" %}
      </div>
    </div><!-- /.row -->

  {% block footer %}
    {% include "v2/includes/main_footer.html" %}
  {% endblock footer %}

</div>
<!-- /.container -->

{% endblock content %}
